
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-521601693998122156.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-521601693998122156.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-521601693998122156.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-521601693998122156.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-521601693998122156.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-521601693998122156.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-521601693998122156.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-521601693998122156.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-521601693998122156.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-521601693998122156.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-521601693998122156.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-521601693998122156.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-521601693998122156.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-521601693998122156.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-521601693998122156.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-521601693998122156.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-521601693998122156.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-521601693998122156.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-521601693998122156.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-521601693998122156.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-521601693998122156.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-521601693998122156.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-521601693998122156.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-521601693998122156.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-521601693998122156.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-521601693998122156.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-521601693998122156.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-521601693998122156.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-521601693998122156.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-521601693998122156.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-521601693998122156.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-521601693998122156.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-521601693998122156.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-521601693998122156.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-521601693998122156.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-521601693998122156.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-521601693998122156.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-521601693998122156.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-521601693998122156.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-521601693998122156.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-521601693998122156.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-521601693998122156.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-521601693998122156.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-521601693998122156.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-521601693998122156.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-521601693998122156.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-521601693998122156.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-521601693998122156.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-521601693998122156.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-521601693998122156.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-521601693998122156.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-521601693998122156.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-521601693998122156.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-521601693998122156.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-521601693998122156.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-521601693998122156.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-521601693998122156.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-521601693998122156.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-521601693998122156.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-521601693998122156.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-521601693998122156.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-521601693998122156.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-521601693998122156.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-521601693998122156.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-521601693998122156.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-521601693998122156.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-521601693998122156.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-521601693998122156.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-521601693998122156 .gp-invisible{visibility:hidden}.gps-521601693998122156 .\!gp-absolute{position:absolute!important}.gps-521601693998122156 .gp-absolute{position:absolute}.gps-521601693998122156 .gp-relative{position:relative}.gps-521601693998122156 .gp-inset-0{inset:0}.gps-521601693998122156 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-521601693998122156 .gp-top-0{top:0}.gps-521601693998122156 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-521601693998122156 .-gp-z-1{z-index:-1}.gps-521601693998122156 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-521601693998122156 .gp-mb-0{margin-bottom:0}.gps-521601693998122156 .gp-flex{display:flex}.gps-521601693998122156 .gp-grid{display:grid}.gps-521601693998122156 .\!gp-hidden{display:none!important}.gps-521601693998122156 .gp-hidden{display:none}.gps-521601693998122156 .gp-h-full{height:100%}.gps-521601693998122156 .gp-w-full{width:100%}.gps-521601693998122156 .gp-max-w-full{max-width:100%}.gps-521601693998122156 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-521601693998122156 .gp-flex-col{flex-direction:column}.gps-521601693998122156 .\!gp-content-stretch{align-content:stretch!important}.gps-521601693998122156 .gp-items-center{align-items:center}.gps-521601693998122156 .gp-justify-center{justify-content:center}.gps-521601693998122156 .\!gp-self-center{align-self:center!important}.gps-521601693998122156 .gp-self-center{align-self:center}.gps-521601693998122156 .gp-overflow-hidden{overflow:hidden}.gps-521601693998122156 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-521601693998122156 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-521601693998122156 .gp-duration-200{transition-duration:.2s}.gps-521601693998122156 .gp-duration-300{transition-duration:.3s}.gps-521601693998122156 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-521601693998122156 .tablet\:\!gp-absolute{position:absolute!important}.gps-521601693998122156 .tablet\:\!gp-hidden{display:none!important}.gps-521601693998122156 .tablet\:gp-hidden{display:none}.gps-521601693998122156 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-521601693998122156 .tablet\:gp-justify-center{justify-content:center}.gps-521601693998122156 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-521601693998122156 .mobile\:\!gp-absolute{position:absolute!important}.gps-521601693998122156 .mobile\:\!gp-hidden{display:none!important}.gps-521601693998122156 .mobile\:gp-hidden{display:none}.gps-521601693998122156 .mobile\:\!gp-h-auto{height:auto!important}.gps-521601693998122156 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-521601693998122156 .mobile\:gp-justify-center{justify-content:center}.gps-521601693998122156 .mobile\:\!gp-self-center{align-self:center!important}}.gps-521601693998122156 .\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}@media (max-width:1024px){.gps-521601693998122156 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-521601693998122156 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-521601693998122156 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gtzSfK80wC"}' data-id="gtzSfK80wC" id="gtzSfK80wC" data-same-height-subgrid-container class="gtzSfK80wC gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pt:40px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_3-KPf7hq gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="guYDRSRW4M"
        class="guYDRSRW4M gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pt:0px;--w:100%;--w-tablet:100%;--w-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_521601512837743555-44a1d954-b9f1-47e9-993d-4cfe4387f946.png","height":299,"src":"https://cdn.shopify.com/s/files/1/0861/3154/0287/files/gempages_521601512837743555-44a1d954-b9f1-47e9-993d-4cfe4387f946.png?v=1720428425","storage":"FILE_CONTENT","width":1440},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_521601512837743555-44a1d954-b9f1-47e9-993d-4cfe4387f946.png","height":299,"src":"https://cdn.shopify.com/s/files/1/0861/3154/0287/files/gempages_521601512837743555-44a1d954-b9f1-47e9-993d-4cfe4387f946.png?v=1720428425","storage":"FILE_CONTENT","width":1440},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"},"mobile":{"image":{"backupFileKey":"gempages_521601512837743555-a407b27e-d9e8-411d-b1e0-02eb7f568de8.png","height":497,"src":"https://cdn.shopify.com/s/files/1/0861/3154/0287/files/gempages_521601512837743555-a407b27e-d9e8-411d-b1e0-02eb7f568de8.png?v=1720428425","storage":"FILE_CONTENT","width":563},"type":"image","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4"}},"uid":"guYDRSRW4M","enableParallax":true,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ "gempages_521601512837743555-44a1d954-b9f1-47e9-993d-4cfe4387f946.png" | file_url }});--bgi-tablet:url({{ "gempages_521601512837743555-44a1d954-b9f1-47e9-993d-4cfe4387f946.png" | file_url }});--bgi-mobile:url({{ "gempages_521601512837743555-a407b27e-d9e8-411d-b1e0-02eb7f568de8.png" | file_url }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "gempages_521601512837743555-44a1d954-b9f1-47e9-993d-4cfe4387f946.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "gempages_521601512837743555-44a1d954-b9f1-47e9-993d-4cfe4387f946.png" | file_url }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "gempages_521601512837743555-44a1d954-b9f1-47e9-993d-4cfe4387f946.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "gempages_521601512837743555-44a1d954-b9f1-47e9-993d-4cfe4387f946.png" | file_url }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "gempages_521601512837743555-a407b27e-d9e8-411d-b1e0-02eb7f568de8.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "gempages_521601512837743555-a407b27e-d9e8-411d-b1e0-02eb7f568de8.png" | file_url }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        <div aria-label="Overlay" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300" style="--bgc:#1B232F;--op:60%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row !gp-absolute tablet:!gp-absolute mobile:!gp-absolute  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-center tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gjeJNRoehz gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXVnQPWeVx"
        class="gXVnQPWeVx"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:32px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:33px;--size-tablet:37px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXVnQPWeVx_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwnTLNGyup"
        class="gwnTLNGyup"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:996px;--w-tablet:996px;--w-mobile:996px;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwnTLNGyup_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_521601512837743555-a407b27e-d9e8-411d-b1e0-02eb7f568de8.png" | file_url }}" srcset="{{ "gempages_521601512837743555-a407b27e-d9e8-411d-b1e0-02eb7f568de8.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_521601512837743555-44a1d954-b9f1-47e9-993d-4cfe4387f946.png" | file_url }}" srcset="{{ "gempages_521601512837743555-44a1d954-b9f1-47e9-993d-4cfe4387f946.png" | file_url }}" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ "gempages_521601512837743555-44a1d954-b9f1-47e9-993d-4cfe4387f946.png" | file_url }}" data-src="{{ "gempages_521601512837743555-44a1d954-b9f1-47e9-993d-4cfe4387f946.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--d:block;--d-tablet:block;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:auto"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-521601693998122156 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/dev-valerii/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=521601638532645746&sectionId=521601693998122156)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggXVnQPWeVx_text","label":"ggXVnQPWeVx_text","default":"100% Happiness Guarantee"},{"type":"html","id":"ggwnTLNGyup_text","label":"ggwnTLNGyup_text","default":"<p>Our 100% Happiness Guarantee puts your satisfaction first. If for any reason you're not delighted with your purchase, simply reach out to our dedicated customer support team, and we'll swiftly make it right, ensuring a smile on your face and a truly joyful shopping experience.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}