
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-521601694249780082.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-521601694249780082.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-521601694249780082.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-521601694249780082.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-521601694249780082.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-521601694249780082.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-521601694249780082.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-521601694249780082.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-521601694249780082.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-521601694249780082.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-521601694249780082.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-521601694249780082.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-521601694249780082.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-521601694249780082.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-521601694249780082.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-521601694249780082.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-521601694249780082.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-521601694249780082.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-521601694249780082.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-521601694249780082.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-521601694249780082.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-521601694249780082.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-521601694249780082.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-521601694249780082.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-521601694249780082.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-521601694249780082.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-521601694249780082.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-521601694249780082.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-521601694249780082.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-521601694249780082.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-521601694249780082.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-521601694249780082.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-521601694249780082.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-521601694249780082.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-521601694249780082.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-521601694249780082.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-521601694249780082.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-521601694249780082.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-521601694249780082.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-521601694249780082.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-521601694249780082.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-521601694249780082.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-521601694249780082.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-521601694249780082.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-521601694249780082.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-521601694249780082.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-521601694249780082.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-521601694249780082.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-521601694249780082.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-521601694249780082.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-521601694249780082.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-521601694249780082.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-521601694249780082.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-521601694249780082.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-521601694249780082.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-521601694249780082.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-521601694249780082.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-521601694249780082.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-521601694249780082.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-521601694249780082.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-521601694249780082.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-521601694249780082.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-521601694249780082.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-521601694249780082.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-521601694249780082.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-521601694249780082.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-521601694249780082.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-521601694249780082 .-gp-rotate-90,.gps-521601694249780082 .gp-rotate-180,.gps-521601694249780082 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-521601694249780082 .gp-relative{position:relative}.gps-521601694249780082 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-521601694249780082 .gp-mb-0{margin-bottom:0}.gps-521601694249780082 .gp-flex{display:flex}.gps-521601694249780082 .gp-inline-flex{display:inline-flex}.gps-521601694249780082 .gp-grid{display:grid}.gps-521601694249780082 .\!gp-hidden{display:none!important}.gps-521601694249780082 .gp-hidden{display:none}.gps-521601694249780082 .gp-min-h-0{min-height:0}.gps-521601694249780082 .gp-w-full{width:100%}.gps-521601694249780082 .gp-max-w-full{max-width:100%}.gps-521601694249780082 .-gp-rotate-90{--tw-rotate:-90deg}.gps-521601694249780082 .-gp-rotate-90,.gps-521601694249780082 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-521601694249780082 .gp-rotate-180{--tw-rotate:180deg}.gps-521601694249780082 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-521601694249780082 .gp-cursor-pointer{cursor:pointer}.gps-521601694249780082 .gp-grid-rows-\[0fr\]{grid-template-rows:0fr}.gps-521601694249780082 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-521601694249780082 .gp-flex-col{flex-direction:column}.gps-521601694249780082 .gp-items-center{align-items:center}.gps-521601694249780082 .gp-justify-center{justify-content:center}.gps-521601694249780082 .gp-gap-\[16px\]{gap:16px}.gps-521601694249780082 .gp-overflow-hidden{overflow:hidden}.gps-521601694249780082 .gp-overflow-clip{overflow:clip}.gps-521601694249780082 .gp-break-all{word-break:break-all}.gps-521601694249780082 .gp-text-\[var\(--icon-expand-active-color\)\]{color:var(--icon-expand-active-color)}.gps-521601694249780082 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-521601694249780082 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-521601694249780082 .gp-duration-200{transition-duration:.2s}.gps-521601694249780082 .gp-duration-500{transition-duration:.5s}.gps-521601694249780082 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-521601694249780082 .gp-group:hover .group-hover\:\[color\:var\(--icon-expand-hover-color\)\]{color:var(--icon-expand-hover-color)}.gps-521601694249780082 .gp-group:hover .group-hover\:\[color\:var\(--text-hover-color\)\!important\]{color:var(--text-hover-color)!important}}@media (max-width:1024px){.gps-521601694249780082 .tablet\:\!gp-hidden{display:none!important}.gps-521601694249780082 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-521601694249780082 .mobile\:\!gp-hidden{display:none!important}.gps-521601694249780082 .mobile\:gp-hidden{display:none}}.gps-521601694249780082 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-521601694249780082 .\[\&\>svg\]\:\!gp-w-full>svg{width:100%!important}.gps-521601694249780082 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EBF3FF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gt1JTs2Zgf"}' data-id="gt1JTs2Zgf" id="gt1JTs2Zgf" data-same-height-subgrid-container class="gt1JTs2Zgf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pt:70px;--pl:20px;--pb:70px;--pr:20px;--pt-mobile:70px;--pl-mobile:20px;--pb-mobile:70px;--pr-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--bgc:#EBF3FF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gWoAVgj54H gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EBF3FF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gbzesOvsfW"}' data-id="gbzesOvsfW" id="gbzesOvsfW" data-same-height-subgrid-container class="gbzesOvsfW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:996px;--bgc:#EBF3FF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gk0aer1s0F gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gg7jY_nsqg"
        class="gg7jY_nsqg"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:33px;--size-tablet:33px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggg7jY_nsqg_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:24px;--mb-mobile:21px" class="gxHGQZKTd3 ">
      
    <gp-accordion data-id="gxHGQZKTd3" class="gp-flex gp-flex-col gp-w-full" style="--gg:0px;--gg-mobile:0px;border-radius:inherit"
      gp-data='{"uid":"gxHGQZKTd3","setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":true,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg data-id=\"516676294709085334\" xmlns=\"http://www.w3.org/2000/svg\" width=\"21\" height=\"22\" viewBox=\"0 0 21 22\" fill=\"none\">\n<path d=\"M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z\" fill=\"#242424\"/>\n</svg>","iconExpand":"<svg data-id=\"516675979733632150\" xmlns=\"http://www.w3.org/2000/svg\" width=\"21\" height=\"21\" viewBox=\"0 0 21 21\" fill=\"none\">\n<path d=\"M5.25 10.5C5.25 10.326 5.31914 10.159 5.44221 10.036C5.56528 9.91289 5.7322 9.84375 5.90625 9.84375H15.0938C15.2678 9.84375 15.4347 9.91289 15.5578 10.036C15.6809 10.159 15.75 10.326 15.75 10.5C15.75 10.674 15.6809 10.841 15.5578 10.964C15.4347 11.0871 15.2678 11.1562 15.0938 11.1562H5.90625C5.7322 11.1562 5.56528 11.0871 5.44221 10.964C5.31914 10.841 5.25 10.674 5.25 10.5Z\" fill=\"#242424\"/>\n</svg>","iconCollapseSize":21,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"gxHGQZKTd3","childListNumber":["0"],"chidlrenUid":["gizHt0WUXB","geTJCrHH9i","gjP4eHBlZD","gJuDTyJhdJ","g7uYlfMZCW","gk_ZBKO_Lu","gfDRlz_8HA","glrKV-mvEE","gQduqh8hs4","gANjU3xnSo"]},"styles":{"bgColor":{"active":"transparent","hover":"transparent","normal":"transparent"},"color":{"active":"#242424","hover":"#242424","normal":"#121212"},"headerBorder":{"active":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#242424","hover":"#242424","normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"0px","padding":{"bottom":"16px","left":"16px","right":"16px","top":"0px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"0px","height":"","padding":{"bottom":"14px","left":"0px","right":"0px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"gap":"","padding":{"bottom":"16px","left":"16px","right":"16px","top":"24px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"16px","left":"0px","right":"0px","top":"21px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}}}'
        >
        <div class=" gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
      
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div data-index="0" class="gxHGQZKTd3 gp-overflow-hidden gp-child-item-gxHGQZKTd3 gp-accordion-item">
      <div aria-hidden uid="gizHt0WUXB" id="gizHt0WUXB" data-index="0"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gxHGQZKTd3 gp-accordion-item-gxHGQZKTd3-0" style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--bgc:transparent;--bs:none;--bw:0px 0px 1px 0px;--bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#242424;width:21px;height:21px"
            data-index="0"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full gp-text-[var(--icon-expand-active-color)]">
              <svg data-id="516675979733632150" xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
<path d="M5.25 10.5C5.25 10.326 5.31914 10.159 5.44221 10.036C5.56528 9.91289 5.7322 9.84375 5.90625 9.84375H15.0938C15.2678 9.84375 15.4347 9.91289 15.5578 10.036C15.6809 10.159 15.75 10.326 15.75 10.5C15.75 10.674 15.6809 10.841 15.5578 10.964C15.4347 11.0871 15.2678 11.1562 15.0938 11.1562H5.90625C5.7322 11.1562 5.56528 11.0871 5.44221 10.964C5.31914 10.841 5.25 10.674 5.25 10.5Z" fill="#242424"/>
</svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxHGQZKTd3_childItem_0 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="0" data-show="true" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="0" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:16px;--pr:16px;--pt:0px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:14px">
          <div
      data-same-height-display-contents
      
      class="gWp3VCAQz- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gX6w4o4Kzt"
        class="gX6w4o4Kzt"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggX6w4o4Kzt_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gX6w4o4Kzt">
        .gX6w4o4Kzt {

}
.gX6w4o4Kzt p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div data-index="1" class="gxHGQZKTd3 gp-overflow-hidden gp-child-item-gxHGQZKTd3 gp-accordion-item">
      <div aria-hidden uid="geTJCrHH9i" id="geTJCrHH9i" data-index="1"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gxHGQZKTd3 gp-accordion-item-gxHGQZKTd3-1" style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:transparent;--bgc:transparent;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:21px;height:21px"
            data-index="1"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxHGQZKTd3_childItem_1 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="1" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="1" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gu5cVwaGfG gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gS2qcKOZkj"
        class="gS2qcKOZkj"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggS2qcKOZkj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gS2qcKOZkj">
        .gS2qcKOZkj {

}
.gS2qcKOZkj p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div data-index="2" class="gxHGQZKTd3 gp-overflow-hidden gp-child-item-gxHGQZKTd3 gp-accordion-item">
      <div aria-hidden uid="gjP4eHBlZD" id="gjP4eHBlZD" data-index="2"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gxHGQZKTd3 gp-accordion-item-gxHGQZKTd3-2" style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:transparent;--bgc:transparent;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:21px;height:21px"
            data-index="2"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxHGQZKTd3_childItem_2 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="2" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="2" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gWhwCXUFvN gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grINIqCgRs"
        class="grINIqCgRs"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrINIqCgRs_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-grINIqCgRs">
        .grINIqCgRs {

}
.grINIqCgRs p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div data-index="3" class="gxHGQZKTd3 gp-overflow-hidden gp-child-item-gxHGQZKTd3 gp-accordion-item">
      <div aria-hidden uid="gJuDTyJhdJ" id="gJuDTyJhdJ" data-index="3"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gxHGQZKTd3 gp-accordion-item-gxHGQZKTd3-3" style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:transparent;--bgc:transparent;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:21px;height:21px"
            data-index="3"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxHGQZKTd3_childItem_3 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="3" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="3" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="guNl_YDHQP gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9KZa1TaH4"
        class="g9KZa1TaH4"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9KZa1TaH4_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g9KZa1TaH4">
        .g9KZa1TaH4 {

}
.g9KZa1TaH4 p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div data-index="4" class="gxHGQZKTd3 gp-overflow-hidden gp-child-item-gxHGQZKTd3 gp-accordion-item">
      <div aria-hidden uid="g7uYlfMZCW" id="g7uYlfMZCW" data-index="4"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gxHGQZKTd3 gp-accordion-item-gxHGQZKTd3-4" style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:transparent;--bgc:transparent;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:21px;height:21px"
            data-index="4"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxHGQZKTd3_childItem_4 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="4" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="4" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gm7THM8BDP gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gb3litaQAO"
        class="gb3litaQAO"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggb3litaQAO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gb3litaQAO">
        .gb3litaQAO {

}
.gb3litaQAO p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div data-index="5" class="gxHGQZKTd3 gp-overflow-hidden gp-child-item-gxHGQZKTd3 gp-accordion-item">
      <div aria-hidden uid="gk_ZBKO_Lu" id="gk_ZBKO_Lu" data-index="5"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gxHGQZKTd3 gp-accordion-item-gxHGQZKTd3-5" style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:transparent;--bgc:transparent;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:21px;height:21px"
            data-index="5"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxHGQZKTd3_childItem_5 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="5" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="5" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gcuYRy2_WL gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="giQEgxeUWk"
        class="giQEgxeUWk"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggiQEgxeUWk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-giQEgxeUWk">
        .giQEgxeUWk {

}
.giQEgxeUWk p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div data-index="6" class="gxHGQZKTd3 gp-overflow-hidden gp-child-item-gxHGQZKTd3 gp-accordion-item">
      <div aria-hidden uid="gfDRlz_8HA" id="gfDRlz_8HA" data-index="6"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gxHGQZKTd3 gp-accordion-item-gxHGQZKTd3-6" style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:transparent;--bgc:transparent;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:21px;height:21px"
            data-index="6"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxHGQZKTd3_childItem_6 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="6" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="6" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gvxr-sEwP- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBwxXay_xi"
        class="gBwxXay_xi"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBwxXay_xi_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gBwxXay_xi">
        .gBwxXay_xi {

}
.gBwxXay_xi p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div data-index="7" class="gxHGQZKTd3 gp-overflow-hidden gp-child-item-gxHGQZKTd3 gp-accordion-item">
      <div aria-hidden uid="glrKV-mvEE" id="glrKV-mvEE" data-index="7"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gxHGQZKTd3 gp-accordion-item-gxHGQZKTd3-7" style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:transparent;--bgc:transparent;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:21px;height:21px"
            data-index="7"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxHGQZKTd3_childItem_7 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="7" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="7" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gzTrvhPmVX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gItwLUKnTW"
        class="gItwLUKnTW"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggItwLUKnTW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gItwLUKnTW">
        .gItwLUKnTW {

}
.gItwLUKnTW p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div data-index="8" class="gxHGQZKTd3 gp-overflow-hidden gp-child-item-gxHGQZKTd3 gp-accordion-item">
      <div aria-hidden uid="gQduqh8hs4" id="gQduqh8hs4" data-index="8"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gxHGQZKTd3 gp-accordion-item-gxHGQZKTd3-8" style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:transparent;--bgc:transparent;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:21px;height:21px"
            data-index="8"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxHGQZKTd3_childItem_8 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="8" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="8" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gVn2ziuCsb gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggzT5juz1e"
        class="ggzT5juz1e"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggzT5juz1e_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-ggzT5juz1e">
        .ggzT5juz1e {

}
.ggzT5juz1e p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
          <div class="gp-flex" style="--jc:center">
            
  <div class="gp-overflow-clip gp-group" style="--text-hover-color:#242424;--icon-expand-hover-color:#242424;--icon-expand-active-color:#242424;--icon-active-color:#121212;--icon-hover-color:#121212;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#CCCCCC;--bg:transparent;--shadow:none">
    <div data-index="9" class="gxHGQZKTd3 gp-overflow-hidden gp-child-item-gxHGQZKTd3 gp-accordion-item">
      <div aria-hidden uid="gANjU3xnSo" id="gANjU3xnSo" data-index="9"
        class="gp-flex gp-accordion-item_header gp-cursor-pointer gp-items-center gp-gap-[16px] gxHGQZKTd3 gp-accordion-item-gxHGQZKTd3-9" style="--pl:16px;--pr:16px;--pt:24px;--pb:16px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:21px;--pb-mobile:16px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;--hvr-bgc:transparent;--bgc:transparent;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212">
        
          <div class="gp-inline-flex">
            <span style="--c:#121212;width:21px;height:21px"
            data-index="9"
            class="group-hover:[color:var(--icon-expand-hover-color)] gp-collapsible-icon gp-accordion-item_icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-full">
              <svg data-id="516676294709085334" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<path d="M10.5 5.47266C10.674 5.47266 10.841 5.5418 10.964 5.66487C11.0871 5.78794 11.1562 5.95486 11.1562 6.12891V10.0664H15.0938C15.2678 10.0664 15.4347 10.1355 15.5578 10.2586C15.6809 10.3817 15.75 10.5486 15.75 10.7227C15.75 10.8967 15.6809 11.0636 15.5578 11.1867C15.4347 11.3098 15.2678 11.3789 15.0938 11.3789H11.1562V15.3164C11.1562 15.4905 11.0871 15.6574 10.964 15.7804C10.841 15.9035 10.674 15.9727 10.5 15.9727C10.326 15.9727 10.159 15.9035 10.036 15.7804C9.91289 15.6574 9.84375 15.4905 9.84375 15.3164V11.3789H5.90625C5.7322 11.3789 5.56528 11.3098 5.44221 11.1867C5.31914 11.0636 5.25 10.8967 5.25 10.7227C5.25 10.5486 5.31914 10.3817 5.44221 10.2586C5.56528 10.1355 5.7322 10.0664 5.90625 10.0664H9.84375V6.12891C9.84375 5.95486 9.91289 5.78794 10.036 5.66487C10.159 5.5418 10.326 5.47266 10.5 5.47266Z" fill="#242424"/>
</svg>
            </span>
          </div>
          
        <div class="gp-flex gp-w-full gp-items-center gp-break-all" style="--gg:16px;--jc:left">
          
          
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--c:#242424;--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-overflow-hidden gp-accordion-text-content group-hover:[color:var(--text-hover-color)!important]  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxHGQZKTd3_childItem_9 }}
        </div>
      </div>
    </div>
    
          
        </div>
      </div>
      <div data-index="9" data-show="false" class="gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden gp-grid-rows-[0fr]" style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)">
        <div data-index="9" class="gp-accordion-item_body-inner gp-transition-all gp-duration-500 gp-min-h-0" style="--pl:16px;--pr:16px;--pl-mobile:0px;--pr-mobile:0px">
          <div
      data-same-height-display-contents
      
      class="gTpTegS0a- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gls9SyzOOv"
        class="gls9SyzOOv"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggls9SyzOOv_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gls9SyzOOv">
        .gls9SyzOOv {

}
.gls9SyzOOv p {

}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
          </div>
            
    </gp-accordion>
    
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-accordion-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCVG3UlYbR"
        class="gCVG3UlYbR"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCVG3UlYbR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gCVG3UlYbR">
        .gCVG3UlYbR {

}
.gCVG3UlYbR p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-521601694249780082 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/dev-valerii/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=521601638532645746&sectionId=521601694249780082)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggg7jY_nsqg_text","label":"ggg7jY_nsqg_text","default":"Frequently Asked Questions"},{"type":"html","id":"ggxHGQZKTd3_childItem_0","label":"ggxHGQZKTd3_childItem_0","default":"<p>What materials are these shoes made of?</p>"},{"type":"html","id":"ggxHGQZKTd3_childItem_1","label":"ggxHGQZKTd3_childItem_1","default":"<p>Are these shoes suitable for running?</p>"},{"type":"html","id":"ggxHGQZKTd3_childItem_2","label":"ggxHGQZKTd3_childItem_2","default":"<p>Do these shoes come in different sizes?</p>"},{"type":"html","id":"ggxHGQZKTd3_childItem_3","label":"ggxHGQZKTd3_childItem_3","default":"<p>Are these shoes waterproof?</p>"},{"type":"html","id":"ggxHGQZKTd3_childItem_4","label":"ggxHGQZKTd3_childItem_4","default":"<p>How do I clean these shoes?</p>"},{"type":"html","id":"ggxHGQZKTd3_childItem_5","label":"ggxHGQZKTd3_childItem_5","default":"<p>Are these shoes suitable for wide feet?</p>"},{"type":"html","id":"ggxHGQZKTd3_childItem_6","label":"ggxHGQZKTd3_childItem_6","default":"<p>Can I use these shoes for hiking or outdoor activities?</p>"},{"type":"html","id":"ggxHGQZKTd3_childItem_7","label":"ggxHGQZKTd3_childItem_7","default":"<p>Do these shoes have arch support?</p>"},{"type":"html","id":"ggxHGQZKTd3_childItem_8","label":"ggxHGQZKTd3_childItem_8","default":"<p>Are these shoes suitable for people with plantar fasciitis?</p>"},{"type":"html","id":"ggxHGQZKTd3_childItem_9","label":"ggxHGQZKTd3_childItem_9","default":"<p>What is your return/exchange policy?</p>"},{"type":"html","id":"ggX6w4o4Kzt_text","label":"ggX6w4o4Kzt_text","default":"<p>Our shoes are crafted using high-quality materials such as premium leather, breathable mesh, and durable synthetic fabrics.</p>"},{"type":"html","id":"ggS2qcKOZkj_text","label":"ggS2qcKOZkj_text","default":"<p>Yes, these shoes are designed with features like cushioning, flexibility, and traction, making them suitable for running and various athletic activities.</p>"},{"type":"html","id":"ggrINIqCgRs_text","label":"ggrINIqCgRs_text","default":"<p>Absolutely! We offer a wide range of sizes to ensure a comfortable fit for everyone. Please refer to our size chart for accurate measurements.</p>"},{"type":"html","id":"gg9KZa1TaH4_text","label":"gg9KZa1TaH4_text","default":"<p>While our shoes are water-resistant to some extent, they are not completely waterproof. They can withstand light rain and splashes but are not designed for submerging in water.</p>"},{"type":"html","id":"ggb3litaQAO_text","label":"ggb3litaQAO_text","default":"<p>We recommend using a soft brush or cloth with mild soap and water to gently clean the shoes. Avoid machine washing or using harsh chemicals to maintain their quality.</p>"},{"type":"html","id":"ggiQEgxeUWk_text","label":"ggiQEgxeUWk_text","default":"<p>Yes, we offer models that cater to various foot widths. Look for styles labeled as \"wide\" or \"extra-wide\" for a more accommodating fit.</p>"},{"type":"html","id":"ggBwxXay_xi_text","label":"ggBwxXay_xi_text","default":"<p>Absolutely! Our shoes are designed to provide stability, traction, and comfort, making them suitable for light hiking and outdoor activities.</p>"},{"type":"html","id":"ggItwLUKnTW_text","label":"ggItwLUKnTW_text","default":"<p>Yes, our shoes feature built-in arch support to provide stability and help alleviate discomfort during long periods of wear.</p>"},{"type":"html","id":"gggzT5juz1e_text","label":"gggzT5juz1e_text","default":"<p>While our shoes offer good support and cushioning, it's always best to consult with a healthcare professional for personalized advice regarding specific foot conditions.</p>"},{"type":"html","id":"ggls9SyzOOv_text","label":"ggls9SyzOOv_text","default":"<p>We have a hassle-free return/exchange policy. If you're not satisfied with your purchase, you can return or exchange the shoes within 30 days of receipt. Please refer to our website for detailed instructions and terms.</p>"},{"type":"html","id":"ggCVG3UlYbR_text","label":"ggCVG3UlYbR_text","default":"<p>More questions? <a href=\"#\"><strong><u>See our full FAQ</u></strong></a></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}