
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-521601693998122053.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-521601693998122053.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-521601693998122053.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-521601693998122053.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-521601693998122053.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-521601693998122053.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-521601693998122053.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-521601693998122053.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-521601693998122053.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-521601693998122053.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-521601693998122053.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-521601693998122053.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-521601693998122053.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-521601693998122053.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-521601693998122053.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-521601693998122053.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-521601693998122053.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-521601693998122053.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-521601693998122053.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-521601693998122053.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-521601693998122053.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-521601693998122053.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-521601693998122053.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-521601693998122053.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-521601693998122053.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-521601693998122053.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-521601693998122053.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-521601693998122053.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-521601693998122053.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-521601693998122053.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-521601693998122053.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-521601693998122053.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-521601693998122053.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-521601693998122053.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-521601693998122053.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-521601693998122053.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-521601693998122053.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-521601693998122053.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-521601693998122053.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-521601693998122053.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-521601693998122053.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-521601693998122053.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-521601693998122053.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-521601693998122053.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-521601693998122053.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-521601693998122053.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-521601693998122053.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-521601693998122053.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-521601693998122053.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-521601693998122053.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-521601693998122053.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-521601693998122053.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-521601693998122053.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-521601693998122053.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-521601693998122053.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-521601693998122053.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-521601693998122053.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-521601693998122053.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-521601693998122053.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-521601693998122053.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-521601693998122053.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-521601693998122053.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-521601693998122053.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-521601693998122053.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-521601693998122053.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-521601693998122053.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-521601693998122053.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-521601693998122053 .gp-relative{position:relative}.gps-521601693998122053 .gp-z-1{z-index:1}.gps-521601693998122053 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-521601693998122053 .gp-mb-0{margin-bottom:0}.gps-521601693998122053 .gp-inline-block{display:inline-block}.gps-521601693998122053 .gp-flex{display:flex}.gps-521601693998122053 .gp-inline-flex{display:inline-flex}.gps-521601693998122053 .gp-grid{display:grid}.gps-521601693998122053 .\!gp-hidden{display:none!important}.gps-521601693998122053 .gp-hidden{display:none}.gps-521601693998122053 .gp-h-auto{height:auto}.gps-521601693998122053 .gp-h-full{height:100%}.gps-521601693998122053 .gp-w-full{width:100%}.gps-521601693998122053 .gp-max-w-full{max-width:100%}.gps-521601693998122053 .gp-flex-none{flex:none}.gps-521601693998122053 .gp-shrink-0{flex-shrink:0}.gps-521601693998122053 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-521601693998122053 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-521601693998122053 .gp-flex-col{flex-direction:column}.gps-521601693998122053 .gp-items-center{align-items:center}.gps-521601693998122053 .gp-justify-center{justify-content:center}.gps-521601693998122053 .gp-overflow-hidden{overflow:hidden}.gps-521601693998122053 .gp-break-words{overflow-wrap:break-word}.gps-521601693998122053 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-521601693998122053 .gp-no-underline{text-decoration-line:none}.gps-521601693998122053 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-521601693998122053 .gp-duration-200{transition-duration:.2s}.gps-521601693998122053 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-521601693998122053 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-521601693998122053 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-521601693998122053 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-521601693998122053 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-521601693998122053 .tablet\:\!gp-hidden{display:none!important}.gps-521601693998122053 .tablet\:gp-hidden{display:none}.gps-521601693998122053 .tablet\:gp-h-auto{height:auto}.gps-521601693998122053 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-521601693998122053 .mobile\:\!gp-hidden{display:none!important}.gps-521601693998122053 .mobile\:gp-hidden{display:none}.gps-521601693998122053 .mobile\:gp-h-auto{height:auto}.gps-521601693998122053 .mobile\:gp-flex-none{flex:none}}.gps-521601693998122053 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-521601693998122053 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-521601693998122053 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-521601693998122053 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-521601693998122053 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-521601693998122053 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gXWvlfSldx"}' data-id="gXWvlfSldx" id="gXWvlfSldx" data-same-height-subgrid-container class="gXWvlfSldx gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pt:80px;--pl:20px;--pb:80px;--pr:20px;--pt-mobile:70px;--pl-mobile:20px;--pb-mobile:70px;--pr-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gEWOInScJz gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g-oZdzhax_"}' data-id="g-oZdzhax_" id="g-oZdzhax_" data-same-height-subgrid-container class="g-oZdzhax_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:static;--radius:var(--g-radius-none);--mb:0px;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="guivIXQgFb gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4pbSXem4N"
        class="g4pbSXem4N"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:24px;--mb-mobile:16px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:33px;--size-tablet:33px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4pbSXem4N_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggCu_q8x7i"
        class="ggCu_q8x7i"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:48px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:500px;--w-tablet:500px;--w-mobile:500px;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggCu_q8x7i_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-ggCu_q8x7i">
        .ggCu_q8x7i {

}
.ggCu_q8x7i p {

}
      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#gdktKo6t7k","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pt:0px;--pl:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--ta:left" >
        <style>[data-id="gOTWWMewiS"].gp-button-base::before, [data-id="gOTWWMewiS-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    
    
  
    }
  
      
  [data-id="gOTWWMewiS"]:hover::before, [data-id="gOTWWMewiS-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gdktKo6t7k
            target=_self
          ></a>
        <button
          data-id="gOTWWMewiS" dataId="gOTWWMewiS" data-state="idle" aria-label="Shop Now"
          
          href="#gdktKo6t7k" target="_self" type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-mobile:82px;--pr-mobile:82px;--pt-mobile:13px;--pb-mobile:13px;--shadow:none;--bgi:;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="gOTWWMewiS gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg data-id="516492058446267542" xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 9.00071C1.625 8.85153 1.68426 8.70845 1.78975 8.60296C1.89524 8.49747 2.03832 8.43821 2.1875 8.43821H15.4546L11.9142 4.89896C11.8086 4.79334 11.7493 4.65008 11.7493 4.50071C11.7493 4.35134 11.8086 4.20808 11.9142 4.10246C12.0199 3.99684 12.1631 3.9375 12.3125 3.9375C12.4619 3.9375 12.6051 3.99684 12.7108 4.10246L17.2108 8.60246C17.2631 8.65471 17.3047 8.71678 17.3331 8.78512C17.3614 8.85346 17.376 8.92672 17.376 9.00071C17.376 9.0747 17.3614 9.14796 17.3331 9.2163C17.3047 9.28464 17.2631 9.34671 17.2108 9.39896L12.7108 13.899C12.6051 14.0046 12.4619 14.0639 12.3125 14.0639C12.1631 14.0639 12.0199 14.0046 11.9142 13.899C11.8086 13.7933 11.7493 13.6501 11.7493 13.5007C11.7493 13.3513 11.8086 13.2081 11.9142 13.1025L15.4546 9.56321H2.1875C2.03832 9.56321 1.89524 9.50395 1.78975 9.39846C1.68426 9.29297 1.625 9.14989 1.625 9.00071Z" fill="white"/>
</svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggOTWWMewiS_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gOTWWMewiS">
        button.gOTWWMewiS {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gsK4ZVIb-q gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gW239l0GeX"}' data-id="gW239l0GeX" id="gW239l0GeX" data-same-height-subgrid-container class="gW239l0GeX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pos-mobile:relative;--radius:var(--g-radius-none);--mb-mobile:21px;--cg:8px;--gtc:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gJGc9Znokm gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gq7UUGLEIc"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pos:relative;--pos-mobile:static;--radius:var(--g-radius-none);--ta:center"
      class="gp-group/image gp-relative force-publish-1765378920837 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gq7UUGLEIc"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="585" height="505" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "gempages_521601512837743555-6e15bee5-f800-426f-a864-8875125f13c0.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "gempages_521601512837743555-6e15bee5-f800-426f-a864-8875125f13c0.png" | file_url }}" loading="lazy"
      id=""
      style="--w:501px;--w-tablet:501px;--w-mobile:335px;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none);--aspect:585/505;--aspect-tablet:585/505;--aspect-mobile:585/505;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
      <style id="custom-css-gq7UUGLEIc">
        .gq7UUGLEIc {

}
.gq7UUGLEIc > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-521601693998122053 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/dev-valerii/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=521601638532645746&sectionId=521601693998122053)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg4pbSXem4N_text","label":"gg4pbSXem4N_text","default":"60 Days Money Back Guarantee"},{"type":"html","id":"gggCu_q8x7i_text","label":"gggCu_q8x7i_text","default":"<p>We offer a 60-day guarantee to eliminate your foot pain! We fully stand behind our product and believe we have the best product in the industry. We want to give you a full 2 months to try out our product, and if you don't like it 100%, you can contact us and we'll find a solution.</p>"},{"type":"html","id":"ggOTWWMewiS_label","label":"ggOTWWMewiS_label","default":"Shop Now"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}