
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-521601694300111730.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-521601694300111730.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-521601694300111730.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-521601694300111730.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-521601694300111730.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-521601694300111730.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-521601694300111730.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-521601694300111730.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-521601694300111730.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-521601694300111730.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-521601694300111730.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-521601694300111730.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-521601694300111730.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-521601694300111730.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-521601694300111730.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-521601694300111730.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-521601694300111730.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-521601694300111730.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-521601694300111730.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-521601694300111730.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-521601694300111730.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-521601694300111730.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-521601694300111730.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-521601694300111730.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-521601694300111730.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-521601694300111730.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-521601694300111730.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-521601694300111730.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-521601694300111730.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-521601694300111730.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-521601694300111730.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-521601694300111730.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-521601694300111730.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-521601694300111730.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-521601694300111730.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-521601694300111730.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-521601694300111730.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-521601694300111730.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-521601694300111730.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-521601694300111730.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-521601694300111730.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-521601694300111730.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-521601694300111730.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-521601694300111730.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-521601694300111730.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-521601694300111730.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-521601694300111730.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-521601694300111730.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-521601694300111730.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-521601694300111730.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-521601694300111730.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-521601694300111730.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-521601694300111730.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-521601694300111730.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-521601694300111730.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-521601694300111730.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-521601694300111730.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-521601694300111730.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-521601694300111730.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-521601694300111730.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-521601694300111730.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-521601694300111730.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-521601694300111730.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-521601694300111730.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-521601694300111730.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-521601694300111730.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-521601694300111730.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-521601694300111730.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-521601694300111730.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-521601694300111730.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-521601694300111730.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-521601694300111730.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-521601694300111730.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-521601694300111730.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-521601694300111730.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-521601694300111730.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-521601694300111730 .gp-relative{position:relative}.gps-521601694300111730 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-521601694300111730 .gp-mb-0{margin-bottom:0}.gps-521601694300111730 .gp-flex{display:flex}.gps-521601694300111730 .gp-inline-flex{display:inline-flex}.gps-521601694300111730 .gp-grid{display:grid}.gps-521601694300111730 .\!gp-hidden{display:none!important}.gps-521601694300111730 .gp-hidden{display:none}.gps-521601694300111730 .gp-max-w-full{max-width:100%}.gps-521601694300111730 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-521601694300111730 .gp-flex-col{flex-direction:column}.gps-521601694300111730 .gp-items-center{align-items:center}.gps-521601694300111730 .gp-justify-center{justify-content:center}.gps-521601694300111730 .gp-overflow-hidden{overflow:hidden}.gps-521601694300111730 .gp-leading-\[0\]{line-height:0}.gps-521601694300111730 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-521601694300111730 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-521601694300111730 .gp-duration-200{transition-duration:.2s}.gps-521601694300111730 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-521601694300111730 .tablet\:\!gp-hidden{display:none!important}.gps-521601694300111730 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-521601694300111730 .mobile\:\!gp-hidden{display:none!important}.gps-521601694300111730 .mobile\:gp-hidden{display:none}}.gps-521601694300111730 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-521601694300111730 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-521601694300111730 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-521601694300111730 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-521601694300111730 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"#EBF3FF"},"mobile":{"color":"#EBF3FF"},"tablet":{"color":"#EBF3FF"}},"uid":"gYWMYQGL_v"}' data-id="gYWMYQGL_v" id="gYWMYQGL_v" data-same-height-subgrid-container class="gYWMYQGL_v gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pt:80px;--pl:20px;--pb:80px;--pr:20px;--pt-mobile:70px;--pl-mobile:20px;--pb-mobile:70px;--pr-mobile:20px;--pt-tablet:80px;--pl-tablet:20px;--pb-tablet:80px;--pr-tablet:20px;--cg:32px;--gtc:minmax(0, 12fr);--bgc:#EBF3FF;--bgc-tablet:#EBF3FF;--bgc-mobile:#EBF3FF;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gGJpQJI0Ym gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gbwDbex5TJ"}' data-id="gbwDbex5TJ" id="gbwDbex5TJ" data-same-height-subgrid-container class="gbwDbex5TJ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:8px;--gtc:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g9C_VtRizo gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6Qltdj_2X"
        class="g6Qltdj_2X"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:8px;--mb-mobile:7px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:33px;--size-tablet:33px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6Qltdj_2X_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPnDgMLhHB"
        class="gPnDgMLhHB"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:48px;--pl:0px;--pr:0px;--mb-mobile:28px;--pl-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPnDgMLhHB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gPnDgMLhHB">
        .gPnDgMLhHB {

}
.gPnDgMLhHB p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gftT2fugcI"}' data-id="gftT2fugcI" id="gftT2fugcI" data-same-height-subgrid-container class="gftT2fugcI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#4E5E75;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gk1XY25BAT gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gWgH9JAhoY"}' data-id="gWgH9JAhoY" id="gWgH9JAhoY" data-same-height-subgrid-container class="gWgH9JAhoY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#C8D3E2;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--cg:0px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:1202px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gXB0waBbkV gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gah3MU761g"}' data-id="gah3MU761g" id="gah3MU761g" data-same-height-subgrid-container class="gah3MU761g gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pl:24px;--pl-mobile:14px;--cg:8px;--gtc:minmax(0, 12fr);--w:570px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="geqGXqdsS5 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gImF9m4t6n"
        class="gImF9m4t6n"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pl:24px;--pl-mobile:0px;--pr-mobile:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:570px;--w-tablet:570px;--w-mobile:570px;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:19px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggImF9m4t6n_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gImF9m4t6n">
        .gImF9m4t6n {

}
.gImF9m4t6n p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gwnjJUGL0K gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#4E5E75","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gqtE4Wnupb"}' data-id="gqtE4Wnupb" id="gqtE4Wnupb" data-same-height-subgrid-container class="gqtE4Wnupb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#435369;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:-1px;--pt:20px;--pb:20px;--mb-mobile:-1px;--pt-mobile:12px;--pb-mobile:13px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:315px;--bgc:#4E5E75;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gCStDxV8b8 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g8NCWVyoH-" class="gp-leading-[0] g8NCWVyoH-" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left">
      <div data-id="g8NCWVyoH-" class="icon-wrapper gp-inline-flex gp-overflow-hidden g8NCWVyoH- " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:55px;--h:55px;--minw:55px;--height-desktop:55px;--height-tablet:55px;--height-mobile:55px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516528384004588694" xmlns="http://www.w3.org/2000/svg" width="55" height="41" viewBox="0 0 55 41" fill="none">
<g clip-path="url(#clip0_258_1655)">
<path d="M37.9751 39.2875C37.9751 39.2875 35.47 38.8282 33.8744 33.9193C32.2788 29.0103 29.662 21.5361 22.9446 21.5361C22.9446 21.5361 27.0453 23.6263 26.7581 26.0016C26.4708 28.3769 21.8596 26.3975 20.9501 21.7578C20.0406 17.118 16.9611 14.8061 12.7488 12.0982C8.53641 9.3904 2.44125 8.48778 0 9.45374C0 9.45374 10.5947 11.6548 14.9188 17.7673C19.2428 23.8639 15.8283 26.5242 11.1532 23.5947C6.4781 20.6493 4.83464 18.1632 4.83464 18.1632C4.83464 18.1632 7.27589 27.6643 15.9399 28.8362C24.588 30.0238 29.1514 30.9264 28.242 33.1909C27.3325 35.4553 14.6316 29.1212 10.483 34.0935C10.483 34.0935 14.6954 32.5733 21.4128 35.2178C28.1303 37.8781 30.3481 39.8575 37.9751 39.2875Z" fill="#F3383E"/>
<path d="M7.81836 22.3133C7.81836 22.3133 13.371 27.5707 16.993 26.1771C20.615 24.7836 17.2004 16.9452 13.3551 14.0156C13.3551 14.0156 17.1526 15.4566 19.0832 19.9539C21.0139 24.4511 21.2532 27.3648 24.5082 28.4733C27.7473 29.5817 28.944 26.0505 27.2048 23.8177C27.2048 23.8177 28.7844 24.6728 31.2257 29.9618C33.6669 35.2666 33.8744 37.1669 34.9434 38.1011C34.9434 38.1011 32.6777 38.3545 28.5451 37.246C24.3965 36.1376 21.2054 34.0631 19.0673 33.3822C19.0673 33.3822 21.7638 33.5881 25.689 35.0291C29.6141 36.4701 30.38 32.828 27.9547 30.7852C25.5135 28.7583 21.1575 28.6633 19.2907 28.2832C17.3759 27.9032 10.2915 27.4756 7.81836 22.3133Z" fill="#FE5B60"/>
<path d="M54.7137 36.0104C54.6658 36.2479 54.586 36.4854 54.4744 36.7388C53.7085 38.4807 51.2832 40.2384 45.0923 39.795C38.0398 39.2883 35.9176 35.5036 33.987 28.9478C32.0563 22.392 27.6046 18.3857 24.7006 16.913C22.5306 15.8203 20.1532 14.4427 20.7276 11.624C20.9191 10.658 21.4616 9.51788 22.4828 8.15605C23.4401 6.87338 24.557 5.68574 25.7378 4.64061C26.2005 4.22889 26.6792 3.833 27.1579 3.46879C30.5405 0.903472 34.2423 -0.410859 36.7314 0.523424C40.497 1.93277 38.4387 3.18376 37.3537 5.05232C36.2687 6.92089 38.4865 9.51788 38.4865 9.51788C40.6087 11.7348 42.9542 11.3231 44.47 11.6873C44.9487 11.7982 45.3316 11.9882 45.6029 12.3524C46.7357 13.8726 46.0018 13.9359 44.5179 16.818C44.4062 17.0397 44.2945 17.2772 44.2147 17.5306C44.0711 17.9106 43.9754 18.3065 43.9116 18.7182C43.8477 19.1141 43.8158 19.5258 43.7999 19.9534C43.7999 20.3651 43.8158 20.7768 43.8796 21.1727C43.9435 21.6477 44.0392 22.1228 44.1828 22.5979C44.2945 22.9779 44.4381 23.3579 44.6136 23.7222C44.8051 24.1339 45.0285 24.5456 45.2997 24.9098C45.555 25.274 45.8422 25.6224 46.1613 25.9233C46.2571 26.0183 46.3688 26.1133 46.4645 26.1925C47.1346 26.7467 47.7729 27.1268 48.4111 27.396C50.1982 28.1719 51.8416 28.1085 53.3574 29.0745C55.3998 30.3572 55.1126 34.0943 54.7137 36.0104Z" fill="#CCE1FF"/>
<path d="M54.4896 36.7398C53.4046 39.1943 51.1389 40.5878 44.948 40.1444C37.8955 39.6377 35.5499 35.2988 33.6193 28.743C31.6886 22.1872 27.1093 18.4975 24.2053 17.0248C22.0353 15.9322 20.1685 14.4437 20.7269 11.625C23.0246 12.4326 28.4177 14.6179 31.5291 18.2758C35.5659 23.0264 36.4754 29.3447 38.1986 32.6226C39.858 35.7897 45.8894 39.2893 54.4896 36.7398Z" fill="#F3383E"/>
<path d="M48.4107 27.3807C47.6608 27.7924 46.3843 28.5842 46.3843 28.5842C45.5227 28.1725 44.7887 27.6499 44.1824 27.0798C43.7675 26.6998 43.4165 26.2881 43.0974 25.8447C42.8261 25.4646 42.5868 25.0846 42.3794 24.6729C42.14 24.1978 41.9326 23.7069 41.7731 23.216C41.5975 22.6776 41.4539 22.1076 41.3582 21.5533C41.2625 21.0308 41.2146 20.4924 41.1827 19.9698C41.1508 19.4631 41.1508 18.9722 41.1667 18.4813C41.1827 17.927 41.2306 17.3886 41.2944 16.8819C41.5018 15.3142 41.9007 14.0315 42.2358 13.3506C42.8581 12.1313 43.7675 11.7513 44.4696 11.6562C44.9483 11.7671 45.3312 11.9571 45.6025 12.3213C46.7353 13.8415 46.0014 13.9049 44.5175 16.7869C44.4058 17.0086 44.2941 17.2461 44.2143 17.4995C44.0707 17.8795 43.975 18.2754 43.9111 18.6871C43.8473 19.083 43.8154 19.4947 43.7995 19.9223C43.7995 20.334 43.8154 20.7457 43.8792 21.1416C43.9431 21.6167 44.0388 22.0917 44.1824 22.5668C44.2941 22.9468 44.4377 23.3269 44.6132 23.6911C44.8047 24.1028 45.0281 24.5145 45.2993 24.8787C45.5546 25.2429 45.8418 25.5913 46.1609 25.8922C46.2567 25.9872 46.3684 26.0822 46.4641 26.1614C47.1342 26.7315 47.7725 27.1115 48.4107 27.3807Z" fill="#9FB1CB"/>
<path d="M35.9484 18.6231C33.6348 12.7324 28.8959 8.12433 28.8959 8.12433C28.3375 8.80525 27.1408 11.3072 27.1408 11.3072C26.9493 10.1196 26.1196 6.39828 25.7207 4.64056C26.1834 4.22885 26.6621 3.83296 27.1408 3.46875C27.3642 5.06812 27.6833 7.01586 27.6833 7.01586L30.3798 4.05466C34.6081 10.5471 35.9165 18.3698 35.9484 18.6231Z" fill="#F3383E"/>
<path d="M44.6113 23.7063C43.9412 23.833 43.0476 24.3081 42.3775 24.6881C42.1062 24.8306 41.8669 24.9732 41.6914 25.0523C40.9095 25.4166 39.9043 25.2582 40.1596 24.2606C40.2554 23.8647 40.9574 23.5163 41.7712 23.2313C42.6647 22.9146 43.7018 22.6929 44.1965 22.582C44.3082 22.9621 44.4358 23.3421 44.6113 23.7063Z" fill="#F3383E"/>
<path d="M46.1598 25.908C45.5375 26.1138 44.7876 26.6364 44.1813 27.0798C43.8941 27.2857 43.6388 27.4757 43.4314 27.6024C42.6974 28.0616 41.6762 28.0299 41.8039 27.0165C41.8517 26.6364 42.4102 26.2247 43.0803 25.8605C43.8622 25.4329 44.7876 25.0846 45.2823 24.8945C45.5535 25.2587 45.8407 25.5913 46.1598 25.908Z" fill="#F3383E"/>
<path d="M43.8778 21.1555C43.1598 21.0922 42.1227 21.3614 41.3568 21.5514C41.1015 21.6148 40.8622 21.6781 40.6866 21.7098C39.841 21.8681 38.8996 21.4564 39.4102 20.5538C39.6016 20.2212 40.3356 20.0471 41.1813 19.9679C42.1227 19.8729 43.2077 19.9045 43.814 19.9204C43.798 20.3321 43.83 20.7438 43.8778 21.1555Z" fill="#F3383E"/>
<path d="M44.2132 17.5142C44.0696 17.8943 43.9738 18.2902 43.91 18.7019C43.2239 18.4327 42.0113 18.4644 41.1496 18.496C40.8944 18.496 40.6869 18.5119 40.5114 18.496C39.6498 18.4644 38.836 17.8468 39.5221 17.0867C39.7774 16.8175 40.4795 16.8017 41.2773 16.8967C42.4102 17.0233 43.7186 17.3717 44.2132 17.5142Z" fill="#F3383E"/>
</g>
<defs>
<clipPath id="clip0_258_1655">
<rect width="55" height="40" fill="white" transform="translate(0 0.222656)"/>
</clipPath>
</defs>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gjMpp2ui2W gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gpVfGi-N-J"
        class="gpVfGi-N-J"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpVfGi-N-J_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gpVfGi-N-J">
        .gpVfGi-N-J {

}
.gpVfGi-N-J p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="geI-QV6fu0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-j6T1fYnn"
        class="g-j6T1fYnn"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:0px;--pl:0px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:315px;--w-tablet:315px;--w-mobile:315px;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-j6T1fYnn_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g-j6T1fYnn">
        .g-j6T1fYnn {

}
.g-j6T1fYnn p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGQUH67E66"}' data-id="gGQUH67E66" id="gGQUH67E66" data-same-height-subgrid-container class="gGQUH67E66 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#C8D3E2;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--cg:0px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:1202px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gcHSH4l6dH gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ghkF3krI2w"}' data-id="ghkF3krI2w" id="ghkF3krI2w" data-same-height-subgrid-container class="ghkF3krI2w gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pl:24px;--pl-mobile:14px;--pr-mobile:14px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:570px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="guoEeEU-Hx gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gKFrPpgUcm" class="gp-leading-[0] gKFrPpgUcm" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--ta:left">
      <div data-id="gKFrPpgUcm" class="icon-wrapper gp-inline-flex gp-overflow-hidden gKFrPpgUcm " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:10px;--w-tablet:10px;--w-mobile:10px;--h:10px;--h-tablet:10px;--h-mobile:10px;--minw:10px;--minw-tablet:10px;--minw-mobile:10px;--height-desktop:10px;--height-tablet:10px;--height-mobile:10px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516529643503748246" xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" fill="none">
<circle cx="5" cy="5.72266" r="5" fill="#FFC8CA"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gCdop7hs4w gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gs95qTv-uJ"
        class="gs95qTv-uJ"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggs95qTv-uJ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gs95qTv-uJ">
        .gs95qTv-uJ {

}
.gs95qTv-uJ p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gHWNGP3C40 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#4E5E75","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZY3CPo4CU"}' data-id="gZY3CPo4CU" id="gZY3CPo4CU" data-same-height-subgrid-container class="gZY3CPo4CU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#435369;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:-1px;--pt:23px;--pb:23px;--mb-mobile:-1px;--pt-mobile:19px;--pb-mobile:21px;--mb-tablet:-1px;--pt-tablet:24px;--pb-tablet:24px;--cg:8px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:315px;--bgc:#4E5E75;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gdT85ouysN gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gWM5HTu0Ip" class="gp-leading-[0] gWM5HTu0Ip" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left">
      <div data-id="gWM5HTu0Ip" class="icon-wrapper gp-inline-flex gp-overflow-hidden gWM5HTu0Ip " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:22px;--h:22px;--minw:22px;--height-desktop:22px;--height-tablet:22px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516529870600144022" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<rect y="0.222656" width="21" height="21" rx="10.5" fill="white"/>
<path d="M14.2133 6.93819C14.3894 6.77055 14.6237 6.67787 14.8668 6.67971C15.1099 6.68155 15.3428 6.77777 15.5164 6.94805C15.6899 7.11833 15.7905 7.34937 15.7969 7.59241C15.8033 7.83545 15.7151 8.07148 15.5508 8.25069L10.5633 14.4882C10.4775 14.5806 10.374 14.6547 10.259 14.7061C10.1439 14.7576 10.0196 14.7853 9.89362 14.7877C9.7676 14.79 9.6424 14.7669 9.5255 14.7197C9.40861 14.6726 9.30243 14.6023 9.21331 14.5132L5.90581 11.2057C5.8137 11.1199 5.73982 11.0164 5.68858 10.9014C5.63734 10.7864 5.60979 10.6622 5.60757 10.5363C5.60535 10.4105 5.6285 10.2854 5.67565 10.1687C5.72281 10.052 5.79299 9.94592 5.88201 9.85689C5.97103 9.76787 6.07708 9.69769 6.19381 9.65054C6.31055 9.60339 6.43558 9.58023 6.56146 9.58245C6.68734 9.58467 6.81148 9.61222 6.92648 9.66346C7.04148 9.7147 7.14498 9.78858 7.23081 9.88069L9.84831 12.4969L14.1896 6.96569C14.1974 6.95607 14.2057 6.94689 14.2146 6.93819H14.2133Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="giwAonmEQr gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ggOaUfIw46"}' data-id="ggOaUfIw46" id="ggOaUfIw46" data-same-height-subgrid-container class="ggOaUfIw46 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--gtc:minmax(0, 12fr);--w:315px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-Fv3ck4Tq gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gjMID9DQ1E" class="gp-leading-[0] gjMID9DQ1E" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center">
      <div data-id="gjMID9DQ1E" class="icon-wrapper gp-inline-flex gp-overflow-hidden gjMID9DQ1E " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:21px;--h:21px;--minw:21px;--height-desktop:21px;--height-tablet:21px;--height-mobile:21px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516530257986061462" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
<path d="M6.59709 6.3217C6.65805 6.26059 6.73047 6.2121 6.8102 6.17902C6.88993 6.14594 6.9754 6.12891 7.06172 6.12891C7.14804 6.12891 7.23351 6.14594 7.31324 6.17902C7.39297 6.2121 7.46538 6.26059 7.52634 6.3217L10.9992 9.79589L14.4721 6.3217C14.5331 6.26069 14.6055 6.21229 14.6853 6.17927C14.765 6.14625 14.8504 6.12925 14.9367 6.12925C15.023 6.12925 15.1085 6.14625 15.1882 6.17927C15.2679 6.21229 15.3403 6.26069 15.4013 6.3217C15.4624 6.38272 15.5108 6.45516 15.5438 6.53488C15.5768 6.6146 15.5938 6.70004 15.5938 6.78633C15.5938 6.87262 15.5768 6.95806 15.5438 7.03778C15.5108 7.1175 15.4624 7.18994 15.4013 7.25095L11.9272 10.7238L15.4013 14.1967C15.4624 14.2577 15.5108 14.3302 15.5438 14.4099C15.5768 14.4896 15.5938 14.575 15.5938 14.6613C15.5938 14.7476 15.5768 14.8331 15.5438 14.9128C15.5108 14.9925 15.4624 15.0649 15.4013 15.126C15.3403 15.187 15.2679 15.2354 15.1882 15.2684C15.1085 15.3014 15.023 15.3184 14.9367 15.3184C14.8504 15.3184 14.765 15.3014 14.6853 15.2684C14.6055 15.2354 14.5331 15.187 14.4721 15.126L10.9992 11.6518L7.52634 15.126C7.46533 15.187 7.39289 15.2354 7.31317 15.2684C7.23345 15.3014 7.14801 15.3184 7.06172 15.3184C6.97543 15.3184 6.88999 15.3014 6.81027 15.2684C6.73055 15.2354 6.65811 15.187 6.59709 15.126C6.53608 15.0649 6.48768 14.9925 6.45466 14.9128C6.42164 14.8331 6.40464 14.7476 6.40464 14.6613C6.40464 14.575 6.42164 14.4896 6.45466 14.4099C6.48768 14.3302 6.53608 14.2577 6.59709 14.1967L10.0713 10.7238L6.59709 7.25095C6.53598 7.18999 6.48749 7.11758 6.45441 7.03785C6.42133 6.95812 6.4043 6.87265 6.4043 6.78633C6.4043 6.70001 6.42133 6.61454 6.45441 6.53481C6.48749 6.45508 6.53598 6.38266 6.59709 6.3217Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gdKVisijNE"}' data-id="gdKVisijNE" id="gdKVisijNE" data-same-height-subgrid-container class="gdKVisijNE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#C8D3E2;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-tablet:100%;--radius:var(--g-radius-none);--cg:0px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:1202px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gdFSOir_wL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g2hgqnhRMr"}' data-id="g2hgqnhRMr" id="g2hgqnhRMr" data-same-height-subgrid-container class="g2hgqnhRMr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pl:24px;--pl-mobile:14px;--pr-mobile:14px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:570px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gftWB4I3Dn gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gzFYjUQAnH" class="gp-leading-[0] gzFYjUQAnH" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--ta:left">
      <div data-id="gzFYjUQAnH" class="icon-wrapper gp-inline-flex gp-overflow-hidden gzFYjUQAnH " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:10px;--w-tablet:10px;--w-mobile:10px;--h:10px;--h-tablet:10px;--h-mobile:10px;--minw:10px;--minw-tablet:10px;--minw-mobile:10px;--height-desktop:10px;--height-tablet:10px;--height-mobile:10px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516529643503748246" xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" fill="none">
<circle cx="5" cy="5.72266" r="5" fill="#FFC8CA"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="goZzQPlbQI gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWKJWhY3kQ"
        class="gWKJWhY3kQ"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWKJWhY3kQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gWKJWhY3kQ">
        .gWKJWhY3kQ {

}
.gWKJWhY3kQ p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gVQwycsOIV gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#4E5E75","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"god0nkjjoM"}' data-id="god0nkjjoM" id="god0nkjjoM" data-same-height-subgrid-container class="god0nkjjoM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#435369;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:-1px;--pt:23px;--pb:23px;--mb-mobile:-1px;--pt-mobile:19px;--pb-mobile:21px;--mb-tablet:-1px;--pt-tablet:24px;--pb-tablet:24px;--cg:8px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:315px;--bgc:#4E5E75;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gZDkjB9QHh gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gZGHTRE74k" class="gp-leading-[0] gZGHTRE74k" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left">
      <div data-id="gZGHTRE74k" class="icon-wrapper gp-inline-flex gp-overflow-hidden gZGHTRE74k " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:22px;--h:22px;--minw:22px;--height-desktop:22px;--height-tablet:22px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516529870600144022" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<rect y="0.222656" width="21" height="21" rx="10.5" fill="white"/>
<path d="M14.2133 6.93819C14.3894 6.77055 14.6237 6.67787 14.8668 6.67971C15.1099 6.68155 15.3428 6.77777 15.5164 6.94805C15.6899 7.11833 15.7905 7.34937 15.7969 7.59241C15.8033 7.83545 15.7151 8.07148 15.5508 8.25069L10.5633 14.4882C10.4775 14.5806 10.374 14.6547 10.259 14.7061C10.1439 14.7576 10.0196 14.7853 9.89362 14.7877C9.7676 14.79 9.6424 14.7669 9.5255 14.7197C9.40861 14.6726 9.30243 14.6023 9.21331 14.5132L5.90581 11.2057C5.8137 11.1199 5.73982 11.0164 5.68858 10.9014C5.63734 10.7864 5.60979 10.6622 5.60757 10.5363C5.60535 10.4105 5.6285 10.2854 5.67565 10.1687C5.72281 10.052 5.79299 9.94592 5.88201 9.85689C5.97103 9.76787 6.07708 9.69769 6.19381 9.65054C6.31055 9.60339 6.43558 9.58023 6.56146 9.58245C6.68734 9.58467 6.81148 9.61222 6.92648 9.66346C7.04148 9.7147 7.14498 9.78858 7.23081 9.88069L9.84831 12.4969L14.1896 6.96569C14.1974 6.95607 14.2057 6.94689 14.2146 6.93819H14.2133Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gb3B3PZUNN gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gmUrGug3ah"}' data-id="gmUrGug3ah" id="gmUrGug3ah" data-same-height-subgrid-container class="gmUrGug3ah gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--gtc:minmax(0, 12fr);--w:315px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gl5WuLAfTD gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gSfo6thZ_A" class="gp-leading-[0] gSfo6thZ_A" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center">
      <div data-id="gSfo6thZ_A" class="icon-wrapper gp-inline-flex gp-overflow-hidden gSfo6thZ_A " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:21px;--h:21px;--minw:21px;--height-desktop:21px;--height-tablet:21px;--height-mobile:21px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516530257986061462" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
<path d="M6.59709 6.3217C6.65805 6.26059 6.73047 6.2121 6.8102 6.17902C6.88993 6.14594 6.9754 6.12891 7.06172 6.12891C7.14804 6.12891 7.23351 6.14594 7.31324 6.17902C7.39297 6.2121 7.46538 6.26059 7.52634 6.3217L10.9992 9.79589L14.4721 6.3217C14.5331 6.26069 14.6055 6.21229 14.6853 6.17927C14.765 6.14625 14.8504 6.12925 14.9367 6.12925C15.023 6.12925 15.1085 6.14625 15.1882 6.17927C15.2679 6.21229 15.3403 6.26069 15.4013 6.3217C15.4624 6.38272 15.5108 6.45516 15.5438 6.53488C15.5768 6.6146 15.5938 6.70004 15.5938 6.78633C15.5938 6.87262 15.5768 6.95806 15.5438 7.03778C15.5108 7.1175 15.4624 7.18994 15.4013 7.25095L11.9272 10.7238L15.4013 14.1967C15.4624 14.2577 15.5108 14.3302 15.5438 14.4099C15.5768 14.4896 15.5938 14.575 15.5938 14.6613C15.5938 14.7476 15.5768 14.8331 15.5438 14.9128C15.5108 14.9925 15.4624 15.0649 15.4013 15.126C15.3403 15.187 15.2679 15.2354 15.1882 15.2684C15.1085 15.3014 15.023 15.3184 14.9367 15.3184C14.8504 15.3184 14.765 15.3014 14.6853 15.2684C14.6055 15.2354 14.5331 15.187 14.4721 15.126L10.9992 11.6518L7.52634 15.126C7.46533 15.187 7.39289 15.2354 7.31317 15.2684C7.23345 15.3014 7.14801 15.3184 7.06172 15.3184C6.97543 15.3184 6.88999 15.3014 6.81027 15.2684C6.73055 15.2354 6.65811 15.187 6.59709 15.126C6.53608 15.0649 6.48768 14.9925 6.45466 14.9128C6.42164 14.8331 6.40464 14.7476 6.40464 14.6613C6.40464 14.575 6.42164 14.4896 6.45466 14.4099C6.48768 14.3302 6.53608 14.2577 6.59709 14.1967L10.0713 10.7238L6.59709 7.25095C6.53598 7.18999 6.48749 7.11758 6.45441 7.03785C6.42133 6.95812 6.4043 6.87265 6.4043 6.78633C6.4043 6.70001 6.42133 6.61454 6.45441 6.53481C6.48749 6.45508 6.53598 6.38266 6.59709 6.3217Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gcgsjlRTs6"}' data-id="gcgsjlRTs6" id="gcgsjlRTs6" data-same-height-subgrid-container class="gcgsjlRTs6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#C8D3E2;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb-mobile:0px;--mb-tablet:-1px;--cg:0px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:1202px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gKrKSJSgKk gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gJ37eRSMM2"}' data-id="gJ37eRSMM2" id="gJ37eRSMM2" data-same-height-subgrid-container class="gJ37eRSMM2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pl:24px;--pl-mobile:14px;--pr-mobile:14px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:570px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="ggkPhE1Kvb gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gjnSS8ulAT" class="gp-leading-[0] gjnSS8ulAT" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--ta:left">
      <div data-id="gjnSS8ulAT" class="icon-wrapper gp-inline-flex gp-overflow-hidden gjnSS8ulAT " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:10px;--w-tablet:10px;--w-mobile:10px;--h:10px;--h-tablet:10px;--h-mobile:10px;--minw:10px;--minw-tablet:10px;--minw-mobile:10px;--height-desktop:10px;--height-tablet:10px;--height-mobile:10px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516529643503748246" xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" fill="none">
<circle cx="5" cy="5.72266" r="5" fill="#FFC8CA"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gyaB2JwG6z gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glEZmaa6Gg"
        class="glEZmaa6Gg"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglEZmaa6Gg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-glEZmaa6Gg">
        .glEZmaa6Gg {

}
.glEZmaa6Gg p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gM4dk_JR5J gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#4E5E75","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gtFuMtVz_N"}' data-id="gtFuMtVz_N" id="gtFuMtVz_N" data-same-height-subgrid-container class="gtFuMtVz_N gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#435369;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:-1px;--pt:23px;--pb:23px;--mb-mobile:-1px;--pt-mobile:19px;--pb-mobile:21px;--mb-tablet:-1px;--pt-tablet:24px;--pb-tablet:24px;--cg:8px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:315px;--bgc:#4E5E75;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g72K7Y27Tw gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g8kryfG005" class="gp-leading-[0] g8kryfG005" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left">
      <div data-id="g8kryfG005" class="icon-wrapper gp-inline-flex gp-overflow-hidden g8kryfG005 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:22px;--h:22px;--minw:22px;--height-desktop:22px;--height-tablet:22px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516529870600144022" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<rect y="0.222656" width="21" height="21" rx="10.5" fill="white"/>
<path d="M14.2133 6.93819C14.3894 6.77055 14.6237 6.67787 14.8668 6.67971C15.1099 6.68155 15.3428 6.77777 15.5164 6.94805C15.6899 7.11833 15.7905 7.34937 15.7969 7.59241C15.8033 7.83545 15.7151 8.07148 15.5508 8.25069L10.5633 14.4882C10.4775 14.5806 10.374 14.6547 10.259 14.7061C10.1439 14.7576 10.0196 14.7853 9.89362 14.7877C9.7676 14.79 9.6424 14.7669 9.5255 14.7197C9.40861 14.6726 9.30243 14.6023 9.21331 14.5132L5.90581 11.2057C5.8137 11.1199 5.73982 11.0164 5.68858 10.9014C5.63734 10.7864 5.60979 10.6622 5.60757 10.5363C5.60535 10.4105 5.6285 10.2854 5.67565 10.1687C5.72281 10.052 5.79299 9.94592 5.88201 9.85689C5.97103 9.76787 6.07708 9.69769 6.19381 9.65054C6.31055 9.60339 6.43558 9.58023 6.56146 9.58245C6.68734 9.58467 6.81148 9.61222 6.92648 9.66346C7.04148 9.7147 7.14498 9.78858 7.23081 9.88069L9.84831 12.4969L14.1896 6.96569C14.1974 6.95607 14.2057 6.94689 14.2146 6.93819H14.2133Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gZoEMjNXh- gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gUFvWfa8v7"}' data-id="gUFvWfa8v7" id="gUFvWfa8v7" data-same-height-subgrid-container class="gUFvWfa8v7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--gtc:minmax(0, 12fr);--w:315px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gND4trZh_R gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gjwRVTdkGC" class="gp-leading-[0] gjwRVTdkGC" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center">
      <div data-id="gjwRVTdkGC" class="icon-wrapper gp-inline-flex gp-overflow-hidden gjwRVTdkGC " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:21px;--h:21px;--minw:21px;--height-desktop:21px;--height-tablet:21px;--height-mobile:21px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516530257986061462" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
<path d="M6.59709 6.3217C6.65805 6.26059 6.73047 6.2121 6.8102 6.17902C6.88993 6.14594 6.9754 6.12891 7.06172 6.12891C7.14804 6.12891 7.23351 6.14594 7.31324 6.17902C7.39297 6.2121 7.46538 6.26059 7.52634 6.3217L10.9992 9.79589L14.4721 6.3217C14.5331 6.26069 14.6055 6.21229 14.6853 6.17927C14.765 6.14625 14.8504 6.12925 14.9367 6.12925C15.023 6.12925 15.1085 6.14625 15.1882 6.17927C15.2679 6.21229 15.3403 6.26069 15.4013 6.3217C15.4624 6.38272 15.5108 6.45516 15.5438 6.53488C15.5768 6.6146 15.5938 6.70004 15.5938 6.78633C15.5938 6.87262 15.5768 6.95806 15.5438 7.03778C15.5108 7.1175 15.4624 7.18994 15.4013 7.25095L11.9272 10.7238L15.4013 14.1967C15.4624 14.2577 15.5108 14.3302 15.5438 14.4099C15.5768 14.4896 15.5938 14.575 15.5938 14.6613C15.5938 14.7476 15.5768 14.8331 15.5438 14.9128C15.5108 14.9925 15.4624 15.0649 15.4013 15.126C15.3403 15.187 15.2679 15.2354 15.1882 15.2684C15.1085 15.3014 15.023 15.3184 14.9367 15.3184C14.8504 15.3184 14.765 15.3014 14.6853 15.2684C14.6055 15.2354 14.5331 15.187 14.4721 15.126L10.9992 11.6518L7.52634 15.126C7.46533 15.187 7.39289 15.2354 7.31317 15.2684C7.23345 15.3014 7.14801 15.3184 7.06172 15.3184C6.97543 15.3184 6.88999 15.3014 6.81027 15.2684C6.73055 15.2354 6.65811 15.187 6.59709 15.126C6.53608 15.0649 6.48768 14.9925 6.45466 14.9128C6.42164 14.8331 6.40464 14.7476 6.40464 14.6613C6.40464 14.575 6.42164 14.4896 6.45466 14.4099C6.48768 14.3302 6.53608 14.2577 6.59709 14.1967L10.0713 10.7238L6.59709 7.25095C6.53598 7.18999 6.48749 7.11758 6.45441 7.03785C6.42133 6.95812 6.4043 6.87265 6.4043 6.78633C6.4043 6.70001 6.42133 6.61454 6.45441 6.53481C6.48749 6.45508 6.53598 6.38266 6.59709 6.3217Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ga5F1x4B5t"}' data-id="ga5F1x4B5t" id="ga5F1x4B5t" data-same-height-subgrid-container class="ga5F1x4B5t gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#C8D3E2;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--cg:0px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:1202px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gt5DaX6F2c gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gfyIjvwsU5"}' data-id="gfyIjvwsU5" id="gfyIjvwsU5" data-same-height-subgrid-container class="gfyIjvwsU5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pl:24px;--pl-mobile:14px;--pr-mobile:14px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:570px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g4RRL2-rJT gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gbfu8xIh6f" class="gp-leading-[0] gbfu8xIh6f" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--ta:left">
      <div data-id="gbfu8xIh6f" class="icon-wrapper gp-inline-flex gp-overflow-hidden gbfu8xIh6f " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:10px;--w-tablet:10px;--w-mobile:10px;--h:10px;--h-tablet:10px;--h-mobile:10px;--minw:10px;--minw-tablet:10px;--minw-mobile:10px;--height-desktop:10px;--height-tablet:10px;--height-mobile:10px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516529643503748246" xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" fill="none">
<circle cx="5" cy="5.72266" r="5" fill="#FFC8CA"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="ghYT1lPMxV gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHyPbCH2OR"
        class="gHyPbCH2OR"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHyPbCH2OR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gHyPbCH2OR">
        .gHyPbCH2OR {

}
.gHyPbCH2OR p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gbNGQfLUnG gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#4E5E75","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g-ZDGIIOkZ"}' data-id="g-ZDGIIOkZ" id="g-ZDGIIOkZ" data-same-height-subgrid-container class="g-ZDGIIOkZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#435369;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:-1px;--pt:23px;--pb:23px;--mb-mobile:-1px;--pt-mobile:19px;--pb-mobile:21px;--mb-tablet:-1px;--pt-tablet:24px;--pb-tablet:24px;--cg:8px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:315px;--bgc:#4E5E75;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gurmNm3JvP gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gAIkWKDijF" class="gp-leading-[0] gAIkWKDijF" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left">
      <div data-id="gAIkWKDijF" class="icon-wrapper gp-inline-flex gp-overflow-hidden gAIkWKDijF " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:22px;--h:22px;--minw:22px;--height-desktop:22px;--height-tablet:22px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516529870600144022" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<rect y="0.222656" width="21" height="21" rx="10.5" fill="white"/>
<path d="M14.2133 6.93819C14.3894 6.77055 14.6237 6.67787 14.8668 6.67971C15.1099 6.68155 15.3428 6.77777 15.5164 6.94805C15.6899 7.11833 15.7905 7.34937 15.7969 7.59241C15.8033 7.83545 15.7151 8.07148 15.5508 8.25069L10.5633 14.4882C10.4775 14.5806 10.374 14.6547 10.259 14.7061C10.1439 14.7576 10.0196 14.7853 9.89362 14.7877C9.7676 14.79 9.6424 14.7669 9.5255 14.7197C9.40861 14.6726 9.30243 14.6023 9.21331 14.5132L5.90581 11.2057C5.8137 11.1199 5.73982 11.0164 5.68858 10.9014C5.63734 10.7864 5.60979 10.6622 5.60757 10.5363C5.60535 10.4105 5.6285 10.2854 5.67565 10.1687C5.72281 10.052 5.79299 9.94592 5.88201 9.85689C5.97103 9.76787 6.07708 9.69769 6.19381 9.65054C6.31055 9.60339 6.43558 9.58023 6.56146 9.58245C6.68734 9.58467 6.81148 9.61222 6.92648 9.66346C7.04148 9.7147 7.14498 9.78858 7.23081 9.88069L9.84831 12.4969L14.1896 6.96569C14.1974 6.95607 14.2057 6.94689 14.2146 6.93819H14.2133Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g9RF4gy73p gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gVJnvDMe8b"}' data-id="gVJnvDMe8b" id="gVJnvDMe8b" data-same-height-subgrid-container class="gVJnvDMe8b gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--gtc:minmax(0, 12fr);--w:315px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvnCz8VmsI gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gThAaFtAD0" class="gp-leading-[0] gThAaFtAD0" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center">
      <div data-id="gThAaFtAD0" class="icon-wrapper gp-inline-flex gp-overflow-hidden gThAaFtAD0 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:21px;--h:21px;--minw:21px;--height-desktop:21px;--height-tablet:21px;--height-mobile:21px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516530257986061462" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
<path d="M6.59709 6.3217C6.65805 6.26059 6.73047 6.2121 6.8102 6.17902C6.88993 6.14594 6.9754 6.12891 7.06172 6.12891C7.14804 6.12891 7.23351 6.14594 7.31324 6.17902C7.39297 6.2121 7.46538 6.26059 7.52634 6.3217L10.9992 9.79589L14.4721 6.3217C14.5331 6.26069 14.6055 6.21229 14.6853 6.17927C14.765 6.14625 14.8504 6.12925 14.9367 6.12925C15.023 6.12925 15.1085 6.14625 15.1882 6.17927C15.2679 6.21229 15.3403 6.26069 15.4013 6.3217C15.4624 6.38272 15.5108 6.45516 15.5438 6.53488C15.5768 6.6146 15.5938 6.70004 15.5938 6.78633C15.5938 6.87262 15.5768 6.95806 15.5438 7.03778C15.5108 7.1175 15.4624 7.18994 15.4013 7.25095L11.9272 10.7238L15.4013 14.1967C15.4624 14.2577 15.5108 14.3302 15.5438 14.4099C15.5768 14.4896 15.5938 14.575 15.5938 14.6613C15.5938 14.7476 15.5768 14.8331 15.5438 14.9128C15.5108 14.9925 15.4624 15.0649 15.4013 15.126C15.3403 15.187 15.2679 15.2354 15.1882 15.2684C15.1085 15.3014 15.023 15.3184 14.9367 15.3184C14.8504 15.3184 14.765 15.3014 14.6853 15.2684C14.6055 15.2354 14.5331 15.187 14.4721 15.126L10.9992 11.6518L7.52634 15.126C7.46533 15.187 7.39289 15.2354 7.31317 15.2684C7.23345 15.3014 7.14801 15.3184 7.06172 15.3184C6.97543 15.3184 6.88999 15.3014 6.81027 15.2684C6.73055 15.2354 6.65811 15.187 6.59709 15.126C6.53608 15.0649 6.48768 14.9925 6.45466 14.9128C6.42164 14.8331 6.40464 14.7476 6.40464 14.6613C6.40464 14.575 6.42164 14.4896 6.45466 14.4099C6.48768 14.3302 6.53608 14.2577 6.59709 14.1967L10.0713 10.7238L6.59709 7.25095C6.53598 7.18999 6.48749 7.11758 6.45441 7.03785C6.42133 6.95812 6.4043 6.87265 6.4043 6.78633C6.4043 6.70001 6.42133 6.61454 6.45441 6.53481C6.48749 6.45508 6.53598 6.38266 6.59709 6.3217Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"go_4Ejvewg"}' data-id="go_4Ejvewg" id="go_4Ejvewg" data-same-height-subgrid-container class="go_4Ejvewg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--cg:0px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 3fr) minmax(0, 3fr);--w:1202px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g2QcnoNd-3 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g1da1VtaNZ"}' data-id="g1da1VtaNZ" id="g1da1VtaNZ" data-same-height-subgrid-container class="g1da1VtaNZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pl:24px;--pl-mobile:14px;--pr-mobile:14px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:570px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gLI03cZgSY gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gZgk38wrrq" class="gp-leading-[0] gZgk38wrrq" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--ta:left">
      <div data-id="gZgk38wrrq" class="icon-wrapper gp-inline-flex gp-overflow-hidden gZgk38wrrq " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:10px;--w-tablet:10px;--w-mobile:10px;--h:10px;--h-tablet:10px;--h-mobile:10px;--minw:10px;--minw-tablet:10px;--minw-mobile:10px;--height-desktop:10px;--height-tablet:10px;--height-mobile:10px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516529643503748246" xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" fill="none">
<circle cx="5" cy="5.72266" r="5" fill="#FFC8CA"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gOG7uqw6_y gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxFKFqPafV"
        class="gxFKFqPafV"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxFKFqPafV_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gxFKFqPafV">
        .gxFKFqPafV {

}
.gxFKFqPafV p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g2RoyM_vt9 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#4E5E75","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gldKuGBmIA"}' data-id="gldKuGBmIA" id="gldKuGBmIA" data-same-height-subgrid-container class="gldKuGBmIA gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#435369;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:-1px;--pt:23px;--pb:23px;--mb-mobile:-1px;--pt-mobile:25px;--pb-mobile:25px;--mb-tablet:-1px;--pt-tablet:24px;--pb-tablet:24px;--cg:8px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:315px;--bgc:#4E5E75;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g8TjB62p28 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gONun8eG4i" class="gp-leading-[0] gONun8eG4i" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left">
      <div data-id="gONun8eG4i" class="icon-wrapper gp-inline-flex gp-overflow-hidden gONun8eG4i " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:22px;--h:22px;--minw:22px;--height-desktop:22px;--height-tablet:22px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516529870600144022" xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none">
<rect y="0.222656" width="21" height="21" rx="10.5" fill="white"/>
<path d="M14.2133 6.93819C14.3894 6.77055 14.6237 6.67787 14.8668 6.67971C15.1099 6.68155 15.3428 6.77777 15.5164 6.94805C15.6899 7.11833 15.7905 7.34937 15.7969 7.59241C15.8033 7.83545 15.7151 8.07148 15.5508 8.25069L10.5633 14.4882C10.4775 14.5806 10.374 14.6547 10.259 14.7061C10.1439 14.7576 10.0196 14.7853 9.89362 14.7877C9.7676 14.79 9.6424 14.7669 9.5255 14.7197C9.40861 14.6726 9.30243 14.6023 9.21331 14.5132L5.90581 11.2057C5.8137 11.1199 5.73982 11.0164 5.68858 10.9014C5.63734 10.7864 5.60979 10.6622 5.60757 10.5363C5.60535 10.4105 5.6285 10.2854 5.67565 10.1687C5.72281 10.052 5.79299 9.94592 5.88201 9.85689C5.97103 9.76787 6.07708 9.69769 6.19381 9.65054C6.31055 9.60339 6.43558 9.58023 6.56146 9.58245C6.68734 9.58467 6.81148 9.61222 6.92648 9.66346C7.04148 9.7147 7.14498 9.78858 7.23081 9.88069L9.84831 12.4969L14.1896 6.96569C14.1974 6.95607 14.2057 6.94689 14.2146 6.93819H14.2133Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gW76JK7RAI gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"goOybvoxNO"}' data-id="goOybvoxNO" id="goOybvoxNO" data-same-height-subgrid-container class="goOybvoxNO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--gtc:minmax(0, 12fr);--w:315px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbbIpYHUhs gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gKtIHspcjX" class="gp-leading-[0] gKtIHspcjX" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:center">
      <div data-id="gKtIHspcjX" class="icon-wrapper gp-inline-flex gp-overflow-hidden gKtIHspcjX " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:21px;--h:21px;--minw:21px;--height-desktop:21px;--height-tablet:21px;--height-mobile:21px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516530257986061462" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
<path d="M6.59709 6.3217C6.65805 6.26059 6.73047 6.2121 6.8102 6.17902C6.88993 6.14594 6.9754 6.12891 7.06172 6.12891C7.14804 6.12891 7.23351 6.14594 7.31324 6.17902C7.39297 6.2121 7.46538 6.26059 7.52634 6.3217L10.9992 9.79589L14.4721 6.3217C14.5331 6.26069 14.6055 6.21229 14.6853 6.17927C14.765 6.14625 14.8504 6.12925 14.9367 6.12925C15.023 6.12925 15.1085 6.14625 15.1882 6.17927C15.2679 6.21229 15.3403 6.26069 15.4013 6.3217C15.4624 6.38272 15.5108 6.45516 15.5438 6.53488C15.5768 6.6146 15.5938 6.70004 15.5938 6.78633C15.5938 6.87262 15.5768 6.95806 15.5438 7.03778C15.5108 7.1175 15.4624 7.18994 15.4013 7.25095L11.9272 10.7238L15.4013 14.1967C15.4624 14.2577 15.5108 14.3302 15.5438 14.4099C15.5768 14.4896 15.5938 14.575 15.5938 14.6613C15.5938 14.7476 15.5768 14.8331 15.5438 14.9128C15.5108 14.9925 15.4624 15.0649 15.4013 15.126C15.3403 15.187 15.2679 15.2354 15.1882 15.2684C15.1085 15.3014 15.023 15.3184 14.9367 15.3184C14.8504 15.3184 14.765 15.3014 14.6853 15.2684C14.6055 15.2354 14.5331 15.187 14.4721 15.126L10.9992 11.6518L7.52634 15.126C7.46533 15.187 7.39289 15.2354 7.31317 15.2684C7.23345 15.3014 7.14801 15.3184 7.06172 15.3184C6.97543 15.3184 6.88999 15.3014 6.81027 15.2684C6.73055 15.2354 6.65811 15.187 6.59709 15.126C6.53608 15.0649 6.48768 14.9925 6.45466 14.9128C6.42164 14.8331 6.40464 14.7476 6.40464 14.6613C6.40464 14.575 6.42164 14.4896 6.45466 14.4099C6.48768 14.3302 6.53608 14.2577 6.59709 14.1967L10.0713 10.7238L6.59709 7.25095C6.53598 7.18999 6.48749 7.11758 6.45441 7.03785C6.42133 6.95812 6.4043 6.87265 6.4043 6.78633C6.4043 6.70001 6.42133 6.61454 6.45441 6.53481C6.48749 6.45508 6.53598 6.38266 6.59709 6.3217Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-521601694300111730 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/dev-valerii/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=521601638532645746&sectionId=521601694300111730)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg6Qltdj_2X_text","label":"gg6Qltdj_2X_text","default":"A Comparative Analysis of My Shoes"},{"type":"html","id":"ggPnDgMLhHB_text","label":"ggPnDgMLhHB_text","default":"<p>Unveiling the Key Features for Optimal Exercise Support and Risk Mitigation</p>"},{"type":"html","id":"ggImF9m4t6n_text","label":"ggImF9m4t6n_text","default":"<p>On the other hand, we denounce righteous...</p>"},{"type":"html","id":"ggpVfGi-N-J_text","label":"ggpVfGi-N-J_text","default":"<p>GEMRS</p>"},{"type":"html","id":"gg-j6T1fYnn_text","label":"gg-j6T1fYnn_text","default":"<p>Other Brand</p>"},{"type":"html","id":"ggs95qTv-uJ_text","label":"ggs95qTv-uJ_text","default":"<p>Level of impact absorption and comfort</p>"},{"type":"html","id":"ggWKJWhY3kQ_text","label":"ggWKJWhY3kQ_text","default":"<p>Support for proper foot alignment</p>"},{"type":"html","id":"gglEZmaa6Gg_text","label":"gglEZmaa6Gg_text","default":"<p>Snug and comfortable fit</p>"},{"type":"html","id":"ggHyPbCH2OR_text","label":"ggHyPbCH2OR_text","default":"<p>Ability to keep the feet cool and dry</p>"},{"type":"html","id":"ggxFKFqPafV_text","label":"ggxFKFqPafV_text","default":"<p>Natural foot movement and flexibility</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}