
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-521601693780018034.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-521601693780018034.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-521601693780018034.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-521601693780018034.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-521601693780018034.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-521601693780018034.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-521601693780018034.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-521601693780018034.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-521601693780018034.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-521601693780018034.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-521601693780018034.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-521601693780018034.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-521601693780018034.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-521601693780018034.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-521601693780018034.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-521601693780018034.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-521601693780018034.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-521601693780018034.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-521601693780018034.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-521601693780018034.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-521601693780018034.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-521601693780018034.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-521601693780018034.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-521601693780018034.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-521601693780018034.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-521601693780018034.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-521601693780018034.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-521601693780018034.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-521601693780018034.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-521601693780018034.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-521601693780018034.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-521601693780018034.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-521601693780018034.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-521601693780018034.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-521601693780018034.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-521601693780018034.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-521601693780018034.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-521601693780018034.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-521601693780018034.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-521601693780018034.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-521601693780018034.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-521601693780018034.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-521601693780018034.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-521601693780018034.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-521601693780018034.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-521601693780018034.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-521601693780018034.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-521601693780018034.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-521601693780018034.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-521601693780018034.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-521601693780018034.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-521601693780018034.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-521601693780018034.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-521601693780018034.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-521601693780018034.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-521601693780018034.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-521601693780018034.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-521601693780018034.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-521601693780018034.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-521601693780018034.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-521601693780018034.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-521601693780018034.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-521601693780018034.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-521601693780018034.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-521601693780018034.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-521601693780018034.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-521601693780018034.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-521601693780018034.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-521601693780018034.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-521601693780018034.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-521601693780018034.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-521601693780018034.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-521601693780018034.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-521601693780018034 .gp-relative{position:relative}.gps-521601693780018034 .gp-z-1{z-index:1}.gps-521601693780018034 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-521601693780018034 .gp-mb-0{margin-bottom:0}.gps-521601693780018034 .gp-inline-block{display:inline-block}.gps-521601693780018034 .gp-flex{display:flex}.gps-521601693780018034 .gp-inline-flex{display:inline-flex}.gps-521601693780018034 .gp-grid{display:grid}.gps-521601693780018034 .\!gp-hidden{display:none!important}.gps-521601693780018034 .gp-hidden{display:none}.gps-521601693780018034 .gp-h-auto{height:auto}.gps-521601693780018034 .gp-h-full{height:100%}.gps-521601693780018034 .gp-w-full{width:100%}.gps-521601693780018034 .gp-max-w-full{max-width:100%}.gps-521601693780018034 .gp-flex-none{flex:none}.gps-521601693780018034 .gp-shrink-0{flex-shrink:0}.gps-521601693780018034 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-521601693780018034 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-521601693780018034 .gp-flex-col{flex-direction:column}.gps-521601693780018034 .gp-items-center{align-items:center}.gps-521601693780018034 .gp-justify-center{justify-content:center}.gps-521601693780018034 .gp-overflow-hidden{overflow:hidden}.gps-521601693780018034 .gp-break-words{overflow-wrap:break-word}.gps-521601693780018034 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-521601693780018034 .gp-no-underline{text-decoration-line:none}.gps-521601693780018034 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-521601693780018034 .gp-duration-200{transition-duration:.2s}.gps-521601693780018034 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-521601693780018034 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-521601693780018034 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-521601693780018034 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-521601693780018034 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-521601693780018034 .tablet\:\!gp-hidden{display:none!important}.gps-521601693780018034 .tablet\:gp-hidden{display:none}.gps-521601693780018034 .tablet\:gp-h-auto{height:auto}.gps-521601693780018034 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-521601693780018034 .mobile\:\!gp-hidden{display:none!important}.gps-521601693780018034 .mobile\:gp-hidden{display:none}.gps-521601693780018034 .mobile\:gp-h-auto{height:auto}.gps-521601693780018034 .mobile\:gp-flex-none{flex:none}}.gps-521601693780018034 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-521601693780018034 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-521601693780018034 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-521601693780018034 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-521601693780018034 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-521601693780018034 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gE94grWbGS"}' data-id="gE94grWbGS" id="gE94grWbGS" data-same-height-subgrid-container class="gE94grWbGS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pt:80px;--pl:20px;--pb:40px;--pr:20px;--pt-mobile:70px;--pb-mobile:40px;--cg:32px;--gtc:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gZq6ZRbHB0 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4l00AxgjQ"}' data-id="g4l00AxgjQ" id="g4l00AxgjQ" data-same-height-subgrid-container class="g4l00AxgjQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gm-JtPh3Ap gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNaXp_iqoI"
        class="gNaXp_iqoI"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:48px;--mb-mobile:42px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:790px;--w-tablet:790px;--w-mobile:100%;--tdt:auto;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:33px;--size-tablet:33px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNaXp_iqoI_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGPkeRCarx"}' data-id="gGPkeRCarx" id="gGPkeRCarx" data-same-height-subgrid-container class="gGPkeRCarx gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:32px;--mb-mobile:21px;--cg:30px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g4QEDcW_gp gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EBF3FF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g6-HsmqVlv"}' data-id="g6-HsmqVlv" id="g6-HsmqVlv" data-same-height-subgrid-container class="g6-HsmqVlv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mr:32px;--pt:16px;--pl:16px;--pb:24px;--pr:16px;--mb-mobile:30px;--pt-mobile:14px;--pl-mobile:14px;--pb-mobile:21px;--pr-mobile:14px;--cg:8px;--gtc:minmax(0, 12fr);--w:451px;--bgc:#EBF3FF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g38Ie_F81W gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gsEGpjl-8Y"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1765378927506 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gsEGpjl-8Y"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="629" height="493" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "gempages_521601512837743555-e2fcece4-bffc-4ec4-aafc-cd9662c6098c.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "gempages_521601512837743555-e2fcece4-bffc-4ec4-aafc-cd9662c6098c.png" | file_url }}" loading="lazy"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:629/493;--aspect-tablet:629/493;--aspect-mobile:629/493;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
      <style id="custom-css-gsEGpjl-8Y">
        .gsEGpjl-8Y {

}
.gsEGpjl-8Y > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gW0cxTMe_R"
        class="gW0cxTMe_R"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pl:16px;--pr:16px;--mb-mobile:0px;--pl-mobile:14px;--pr-mobile:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggW0cxTMe_R_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gW0cxTMe_R">
        .gW0cxTMe_R {

}
.gW0cxTMe_R p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g9AEe0xcvo gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gXWZV5ufVg"}' data-id="gXWZV5ufVg" id="gXWZV5ufVg" data-same-height-subgrid-container class="gXWZV5ufVg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:32px;--mb-mobile:21px;--cg:12px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gZsFWdwock gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcdBVvooTx"
        class="gcdBVvooTx"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:34px;--w-tablet:34px;--w-mobile:28px;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:#4E5E75;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:13px;--pr:13px;--pt:6px;--pb:7px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:5px;--pb-mobile:5px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcdBVvooTx_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gcdBVvooTx">
        .gcdBVvooTx {

}
.gcdBVvooTx p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g8OSI2MHrk gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gyY5oq97Lb"
        class="gyY5oq97Lb"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:8px;--mb-mobile:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyY5oq97Lb_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWVu3yctgP"
        class="gWVu3yctgP"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pl:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWVu3yctgP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gWVu3yctgP">
        .gWVu3yctgP {

}
.gWVu3yctgP p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gt-rnjjLw0"}' data-id="gt-rnjjLw0" id="gt-rnjjLw0" data-same-height-subgrid-container class="gt-rnjjLw0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:32px;--mb-mobile:21px;--cg:12px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gjdtj7SgXj gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBZKze9pmk"
        class="gBZKze9pmk"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:34px;--w-tablet:34px;--w-mobile:28px;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:#4E5E75;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:13px;--pr:13px;--pt:6px;--pb:7px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:5px;--pb-mobile:5px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBZKze9pmk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gBZKze9pmk">
        .gBZKze9pmk {

}
.gBZKze9pmk p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g2qFrex8C- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8lTdeZM5y"
        class="g8lTdeZM5y"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:8px;--mb-mobile:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8lTdeZM5y_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLQxxg6wMA"
        class="gLQxxg6wMA"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pl:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLQxxg6wMA_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gLQxxg6wMA">
        .gLQxxg6wMA {

}
.gLQxxg6wMA p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"geTbiWZkyz"}' data-id="geTbiWZkyz" id="geTbiWZkyz" data-same-height-subgrid-container class="geTbiWZkyz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--cg:12px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gaRc64tRos gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbY_lQ23gv"
        class="gbY_lQ23gv"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:34px;--w-tablet:34px;--w-mobile:28px;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:#4E5E75;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:13px;--pr:13px;--pt:6px;--pb:7px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:5px;--pb-mobile:5px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbY_lQ23gv_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gbY_lQ23gv">
        .gbY_lQ23gv {

}
.gbY_lQ23gv p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gDaSK9Fn8m gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZyJFXP5fa"
        class="gZyJFXP5fa"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:8px;--mb-mobile:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZyJFXP5fa_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gThw6tqlH4"
        class="gThw6tqlH4"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pl:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggThw6tqlH4_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gThw6tqlH4">
        .gThw6tqlH4 {

}
.gThw6tqlH4 p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGA7DSS90B"}' data-id="gGA7DSS90B" id="gGA7DSS90B" data-same-height-subgrid-container class="gGA7DSS90B gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:48px;--mb-mobile:42px;--mb-tablet:48px;--cg:30px;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gCRVwe4YMj gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gCt0H3O4tq"}' data-id="gCt0H3O4tq" id="gCt0H3O4tq" data-same-height-subgrid-container class="gCt0H3O4tq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:32px;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glLQM60tFX gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gTPyVj5ivN"}' data-id="gTPyVj5ivN" id="gTPyVj5ivN" data-same-height-subgrid-container class="gTPyVj5ivN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:32px;--mb-mobile:21px;--cg:12px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbjBAEH5E2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsMyWMQXZP"
        class="gsMyWMQXZP"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:34px;--w-tablet:34px;--w-mobile:28px;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:#4E5E75;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:13px;--pr:13px;--pt:6px;--pb:7px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:5px;--pb-mobile:5px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsMyWMQXZP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gsMyWMQXZP">
        .gsMyWMQXZP {

}
.gsMyWMQXZP p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gkGVDp5Jc2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gm8SSpbKyi"
        class="gm8SSpbKyi"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:8px;--mb-mobile:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggm8SSpbKyi_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVPZnBwhyz"
        class="gVPZnBwhyz"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pl:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVPZnBwhyz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gVPZnBwhyz">
        .gVPZnBwhyz {

}
.gVPZnBwhyz p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4KnvKMaII"}' data-id="g4KnvKMaII" id="g4KnvKMaII" data-same-height-subgrid-container class="g4KnvKMaII gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:21px;--cg:12px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0Q8jf7a3S gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxn53baiXO"
        class="gxn53baiXO"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:34px;--w-tablet:34px;--w-mobile:28px;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:#4E5E75;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:13px;--pr:13px;--pt:6px;--pb:7px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:5px;--pb-mobile:5px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxn53baiXO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gxn53baiXO">
        .gxn53baiXO {

}
.gxn53baiXO p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gjANfMvRCc gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMXoiynqUC"
        class="gMXoiynqUC"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:8px;--mb-mobile:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMXoiynqUC_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="giORxZbxMx"
        class="giORxZbxMx"
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pl:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggiORxZbxMx_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-giORxZbxMx">
        .giORxZbxMx {

}
.giORxZbxMx p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gWP80X25WR gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="guLJIjC7oS"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1765378927516 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto guLJIjC7oS"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="1374" height="689" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "gempages_521601512837743555-2ac9a55a-55a9-4809-b70b-5605ccb635ac.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "gempages_521601512837743555-2ac9a55a-55a9-4809-b70b-5605ccb635ac.png" | file_url }}" loading="lazy"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:1374/689;--aspect-tablet:1374/689;--aspect-mobile:1374/689;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
      <style id="custom-css-guLJIjC7oS">
        .guLJIjC7oS {

}
.guLJIjC7oS > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g8JTZDmrpk"}' data-id="g8JTZDmrpk" id="g8JTZDmrpk" data-same-height-subgrid-container class="g8JTZDmrpk gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--cg:8px;--gtc:minmax(0, 12fr);--w:380px;--w-tablet:380px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="golq_CKz-W gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQriYqzJjR"
        class="gQriYqzJjR"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--mb:24px;--pl:0px;--pr:0px;--mb-mobile:21px;--pl-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQriYqzJjR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gQriYqzJjR">
        .gQriYqzJjR {

}
.gQriYqzJjR p {

}
      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#gdktKo6t7k","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb:8px;--pt:0px;--pl:0px;--pr:0px;--mb-mobile:7px;--pt-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--ta:center" >
        <style>[data-id="gSHtvcm2Ew"].gp-button-base::before, [data-id="gSHtvcm2Ew-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    
    
  
    }
  
      
  [data-id="gSHtvcm2Ew"]:hover::before, [data-id="gSHtvcm2Ew-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gdktKo6t7k
            target=_self
          ></a>
        <button
          data-id="gSHtvcm2Ew" dataId="gSHtvcm2Ew" data-state="idle" aria-label="Shop Now"
          
          href="#gdktKo6t7k" target="_self" type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:138px;--pr:138px;--pt:12px;--pb:12px;--pl-mobile:82px;--pr-mobile:82px;--pt-mobile:14px;--pb-mobile:13px;--shadow:none;--bgi:;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%"
          class="gSHtvcm2Ew gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
    <span
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;--ml:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      class="gp-button-icon gp-z-1 gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
    >
      <svg data-id="516492058446267542" xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 9.00071C1.625 8.85153 1.68426 8.70845 1.78975 8.60296C1.89524 8.49747 2.03832 8.43821 2.1875 8.43821H15.4546L11.9142 4.89896C11.8086 4.79334 11.7493 4.65008 11.7493 4.50071C11.7493 4.35134 11.8086 4.20808 11.9142 4.10246C12.0199 3.99684 12.1631 3.9375 12.3125 3.9375C12.4619 3.9375 12.6051 3.99684 12.7108 4.10246L17.2108 8.60246C17.2631 8.65471 17.3047 8.71678 17.3331 8.78512C17.3614 8.85346 17.376 8.92672 17.376 9.00071C17.376 9.0747 17.3614 9.14796 17.3331 9.2163C17.3047 9.28464 17.2631 9.34671 17.2108 9.39896L12.7108 13.899C12.6051 14.0046 12.4619 14.0639 12.3125 14.0639C12.1631 14.0639 12.0199 14.0046 11.9142 13.899C11.8086 13.7933 11.7493 13.6501 11.7493 13.5007C11.7493 13.3513 11.8086 13.2081 11.9142 13.1025L15.4546 9.56321H2.1875C2.03832 9.56321 1.89524 9.50395 1.78975 9.39846C1.68426 9.29297 1.625 9.14989 1.625 9.00071Z" fill="white"/>
</svg>
    </span>
  
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggSHtvcm2Ew_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gSHtvcm2Ew">
        button.gSHtvcm2Ew {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0mjmGZ4Ch"
        class="g0mjmGZ4Ch"
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--radius:var(--g-radius-none);--pl:0px;--pr:0px;--mb-mobile:0px;--pl-mobile:14px;--pr-mobile:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0mjmGZ4Ch_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g0mjmGZ4Ch">
        .g0mjmGZ4Ch {

}
.g0mjmGZ4Ch p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-521601693780018034 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/dev-valerii/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=521601638532645746&sectionId=521601693780018034)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggNaXp_iqoI_text","label":"ggNaXp_iqoI_text","default":"5 Reasons Why Our Running Shoes Are Winning the Hearts of Runners"},{"type":"html","id":"ggW0cxTMe_R_text","label":"ggW0cxTMe_R_text","default":"<p>\"These running shoes provide exceptional comfort and support, making every run a joy and helping to improve my overall performance.\"</p>"},{"type":"html","id":"ggcdBVvooTx_text","label":"ggcdBVvooTx_text","default":"<p>1</p>"},{"type":"html","id":"ggyY5oq97Lb_text","label":"ggyY5oq97Lb_text","default":"Unmatched Comfort"},{"type":"html","id":"ggWVu3yctgP_text","label":"ggWVu3yctgP_text","default":"<p>Our running shoes feature a cushioned insole that provides superior shock absorption, ensuring every step feels like you're running on clouds.</p>"},{"type":"html","id":"ggBZKze9pmk_text","label":"ggBZKze9pmk_text","default":"<p>2</p>"},{"type":"html","id":"gg8lTdeZM5y_text","label":"gg8lTdeZM5y_text","default":"Breathable Design"},{"type":"html","id":"ggLQxxg6wMA_text","label":"ggLQxxg6wMA_text","default":"<p>Made with breathable mesh fabric, our shoes keep your feet cool and dry, even during the most intense runs, preventing discomfort and blisters.</p>"},{"type":"html","id":"ggbY_lQ23gv_text","label":"ggbY_lQ23gv_text","default":"<p>3</p>"},{"type":"html","id":"ggZyJFXP5fa_text","label":"ggZyJFXP5fa_text","default":"Optimal Support"},{"type":"html","id":"ggThw6tqlH4_text","label":"ggThw6tqlH4_text","default":"<p>The arch support design is tailored to fit the natural contours of your feet, reducing the risk of injuries and providing the stability you need for longer runs.</p>"},{"type":"html","id":"ggsMyWMQXZP_text","label":"ggsMyWMQXZP_text","default":"<p>4</p>"},{"type":"html","id":"ggm8SSpbKyi_text","label":"ggm8SSpbKyi_text","default":"Enhanced Traction"},{"type":"html","id":"ggVPZnBwhyz_text","label":"ggVPZnBwhyz_text","default":"<p>With a non-slip rubber outsole, our running shoes offer excellent traction on various surfaces, giving you the confidence to tackle any terrain safely.</p>"},{"type":"html","id":"ggxn53baiXO_text","label":"ggxn53baiXO_text","default":"<p>5</p>"},{"type":"html","id":"ggMXoiynqUC_text","label":"ggMXoiynqUC_text","default":"Lightweight Construction"},{"type":"html","id":"ggiORxZbxMx_text","label":"ggiORxZbxMx_text","default":"<p>Our shoes are designed to be incredibly lightweight, allowing for greater agility and less fatigue, so you can focus on beating your personal best without feeling weighed down.</p>"},{"type":"html","id":"ggQriYqzJjR_text","label":"ggQriYqzJjR_text","default":"<p>Experience the difference in your run  click below to get your pair now!\"</p>"},{"type":"html","id":"ggSHtvcm2Ew_label","label":"ggSHtvcm2Ew_label","default":"Shop Now"},{"type":"html","id":"gg0mjmGZ4Ch_text","label":"gg0mjmGZ4Ch_text","default":"<p>60-day money-back guarantee included&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}